<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Posts</div>
                ${data.entries && data.entries.length ? $h`
                <div class="right">
                    ${widgets.layoutSwitcher.enabled ? $h`
                    <a href="#" class="link icon-only popover-open tooltip-init" data-popover="#popover-layout-switcher" data-tooltip="Layout">
                        <i class="icon material-icons">
                            ${data.layout == 'list' ? 'view_headline' : ''}
                            ${data.layout == 'grid' ? 'apps' : ''}
                        </i>
                    </a>
                    ` : $h` `}
                    ${widgets.dataFilter.enabled ? $h`
                    <a href="#" class="link icon-only popup-open tooltip-init" data-popup="#popup-data-filter" data-tooltip="Filters">
                        <i class="icon material-icons">tune</i>
                    </a>
                    ` : $h` `}
                </div>
                ` : $h` `}
            </div>
        </div>

        <div class="page-content infinite-scroll-content ptr-content">

            <div class="ptr-preloader" key="ptr-preloader">
                <div class="preloader"></div>
                <div class="ptr-arrow"></div>
            </div>

            ${data.entries && data.entries.length ? $h`
            ${data.layout == 'list' ? $h`
            <div class="list cards-list inset margin-vertical-half no-chevron">
                <ul class="row align-items-stretch">
                    ${data.entries.map((item, index) => $h`
                    <li class="col-100 medium-50 large-100 xlarge-50 overflow-hidden">
                        <div class="item-content height-100 no-padding">
                            <div class="item-inner item-cell height-100 no-padding">
                                <div class="item-row" style="height: 132px;">
                                    <div class="item-cell flex-shrink-0 width-auto">
                                        <a href="/integrations/wordpress/posts/${item.slug}/${item.id}/">
                                            ${item.featuredMedia ? $h`
                                            <img src="${item.featuredMedia.medium ? item.featuredMedia.medium.source_url : item.featuredMedia.original.source_url}" loading="lazy" height="132" width="132" alt="" />
                                            ` : $h`
                                            <div class="skeleton-block" style="height: 132px; width: 132px;"></div>
                                            `}
                                            ${item.protected ? $h`
                                            <span class="shape-container shape-circle size-24 margin-half position-absolute ${$f7.rtl ? 'position-right-top' : 'position-left-top'} bg-color-yellow">
                                                <i class="icon material-icons font-size-14 color-black">lock</i>
                                            </span>
                                            ` : $h` `}
                                        </a>
                                    </div>
                                    <div class="item-cell display-flex flex-direction-column align-self-stretch margin-horizontal-half padding-vertical-half">
                                        <div class="padding-bottom single-line-text">
                                            ${item.sticky && $h`
                                            <span class="link badge color-pink">Featured</span>
                                            `}
                                            ${item.taxonomies && item.taxonomies.category && item.taxonomies.category.length ? $h`
                                            ${item.taxonomies.category.map((term, index) => $h`
                                            <a href="/integrations/wordpress/categories/${term.slug}/${term.id}/" class="badge color-primary" innerHTML="${term.name}"></a>
                                            `)}
                                            ` : $h` `}
                                        </div>
                                        <a href="/integrations/wordpress/posts/${item.slug}/${item.id}/" class="display-flex flex-direction-column height-100 text-color-gray">
                                            <div class="font-size-16 font-weight-bold multi-line-text lines-2 text-color-body" innerHTML="${item.title}"></div>
                                            <div class="font-size-12 margin-top-auto padding-top-half single-line-text">
                                                ${item.author ? $h`
                                                ${item.author.avatar ? $h`
                                                <img class="shape-circle size-24 vertical-align-middle" src="${item.author.avatar}" loading="lazy" alt="" />
                                                ` : $h`
                                                <span class="shape-container shape-circle size-24 bg-color-random text-color-white">
                                                    <span class="font-size-14 font-weight-600">${item.author.name.trim().charAt(0)}</span>
                                                </span>
                                                `}
                                                <span class="margin-horizontal-half">${item.author.name}</span>
                                                <span>${`\u2022`}</span>
                                                ` : $h` `}
                                                <span class="margin-horizontal-half">${moment(item.date).format('MMMM DD, YYYY')}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    `)}
                </ul>
            </div>
            ` : $h` `}
            ${data.layout == 'grid' ? $h`
            <div class="list cards-list inset margin-vertical-half no-chevron">
                <ul class="row align-items-stretch">
                    ${data.entries.map((item, index) => $h`
                    <li class="col-100 small-50 xlarge-33 overflow-hidden">
                        <div class="item-content height-100 no-padding">
                            <div class="item-inner item-cell height-100 no-padding">
                                <div class="item-row height-100">
                                    <div class="item-cell display-flex flex-direction-column align-self-stretch">
                                        <div class="overlay-container responsive-container">
                                            ${item.featuredMedia ? $h`
                                            <img class="responsive-content" src="${item.featuredMedia.large ? item.featuredMedia.large.source_url : item.featuredMedia.original.source_url}" loading="lazy" alt="" />
                                            ` : $h` `}
                                            <div class="overlay-content align-items-stretch justify-content-space-between text-align-start">
                                                ${item.protected ? $h`
                                                <span class="shape-container shape-circle size-32 align-self-flex-end bg-color-yellow">
                                                    <i class="icon material-icons font-size-20 color-black">lock</i>
                                                </span>
                                                ` : $h` `}
                                                <div class="margin-top-auto">
                                                    ${item.sticky ? $h`
                                                    <span class="badge color-pink">Featured</span>
                                                    ` : $h` `}
                                                    ${item.taxonomies && item.taxonomies.category && item.taxonomies.category.length ? $h`
                                                    ${item.taxonomies.category.map((term, index) => $h`
                                                    <a href="/integrations/wordpress/categories/${term.slug}/${term.id}/" class="badge color-primary" innerHTML="${term.name}"></a>
                                                    `)}
                                                    ` : $h` `}
                                                </div>
                                            </div>
                                        </div>
                                        <a href="/integrations/wordpress/posts/${item.slug}/${item.id}/" class="display-flex flex-direction-column height-100 padding-half text-color-gray">
                                            <div class="font-size-16 font-weight-bold multi-line-text lines-2 text-color-body" innerHTML="${item.title}"></div>
                                            <div class="font-size-12 margin-top-auto padding-top-half single-line-text">
                                                ${item.author ? $h`
                                                ${item.author.avatar ? $h`
                                                <img class="shape-circle size-24 vertical-align-middle" src="${item.author.avatar}" loading="lazy" alt="" />
                                                ` : $h`
                                                <span class="shape-container shape-circle size-24 bg-color-random text-color-white">
                                                    <span class="font-size-14 font-weight-600">${item.author.name.trim().charAt(0)}</span>
                                                </span>
                                                `}
                                                <span class="margin-horizontal-half">${item.author.name}</span>
                                                <span>${`\u2022`}</span>
                                                ` : $h` `}
                                                <span class="margin-horizontal-half">${moment(item.date).format('MMMM DD, YYYY')}</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    `)}
                </ul>
            </div>
            ` : $h` `}

            ${!flags.allEntriesLoaded ? $h`
            ${widgets.infiniteScroll.enabled ? $h`
            <div id="infinite-scroll-handler" class="block margin-vertical text-align-center">
                ${flags.loadMoreEntriesError ? $h`
                <button type="button" class="button button-fill button-round margin-horizontal-auto color-mono text-color-mono-invert" style="width: 144px;" @click="${loadMoreEntries}">Load More</button>
                ` : $h`
                <span class="preloader" key="preloader-infinite-scroll"></span>
                `}
            </div>
            ` : $h` `}
            ${!widgets.infiniteScroll.enabled ? $h`
            <div id="load-more-handler" class="block margin-vertical text-align-center">
                ${flags.loadingMoreEntries ? $h`
                <span class="preloader" key="preloader-load-more"></span>
                ` : $h`
                <button type="button" class="button button-fill button-round margin-horizontal-auto color-mono text-color-mono-invert" style="width: 144px;" @click="${loadMoreEntries}">Load More</button>
                `}
            </div>
            ` : $h` `}
            ` : $h` `}
            ` : $h` `}

            ${flags.loadingInitialEntries ? $h`
            ${data.layout == 'list' ? $h`
            <div class="list cards-list inset margin-vertical-half">
                <ul class="row align-items-stretch">
                    ${Array(12).fill().map((item, index) => $h`
                    <li class="col-100 medium-50 large-100 xlarge-50 overflow-hidden">
                        <div class="item-content height-100 no-padding skeleton-effect-fade">
                            <div class="item-inner item-cell height-100 no-padding">
                                <div class="item-row" style="height: 132px;">
                                    <div class="item-cell flex-shrink-0 width-auto">
                                        <div class="skeleton-block" style="height: 132px; width: 132px;"></div>
                                    </div>
                                    <div class="item-cell display-flex flex-direction-column align-self-stretch margin-horizontal-half padding-vertical-half">
                                        <div class="padding-bottom-half single-line-text">
                                            <span class="skeleton-text">Featured</span>
                                            ${`\u0020`}
                                            <span class="skeleton-text">Category</span>
                                            ${`\u0020`}
                                            <span class="skeleton-text">Category</span>
                                        </div>
                                        <div class="font-size-16 font-weight-bold multi-line-text lines-2 skeleton-text">Post Title Goes Here. Post Title Goes Here.</div>
                                        <div class="font-size-12 margin-top-auto padding-top-half single-line-text">
                                            <span class="shape-container shape-circle size-24 skeleton-block vertical-align-middle"></span>
                                            ${`\u0020`}
                                            <span class="skeleton-text">Author Name</span>
                                            ${`\u0020`}
                                            <span class="skeleton-text">Post Date Here</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    `)}
                </ul>
            </div>
            ` : $h` `}
            ${data.layout == 'grid' ? $h`
            <div class="list cards-list inset margin-vertical-half">
                <ul class="row align-items-stretch">
                    ${Array(12).fill().map((item, index) => $h`
                    <li class="col-100 small-50 xlarge-33 overflow-hidden">
                        <div class="item-content height-100 no-padding skeleton-effect-fade">
                            <div class="item-inner item-cell height-100 no-padding">
                                <div class="item-row height-100">
                                    <div class="item-cell display-flex flex-direction-column align-self-stretch">
                                        <div class="overlay-container responsive-container">
                                            <div class="overlay-content align-items-stretch justify-content-space-between text-align-start">
                                                <div class="margin-top-auto">
                                                    <span class="skeleton-text">Featured</span>
                                                    ${`\u0020`}
                                                    <span class="skeleton-text">Category</span>
                                                    ${`\u0020`}
                                                    <span class="skeleton-text">Category</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="display-flex flex-direction-column height-100 padding-half">
                                            <div class="font-size-16 font-weight-bold multi-line-text lines-2 skeleton-text">Post Title Goes Here. Post Title Goes Here.</div>
                                            <div class="font-size-12 margin-top-auto padding-top-half single-line-text">
                                                <span class="shape-container shape-circle size-24 skeleton-block vertical-align-middle"></span>
                                                ${`\u0020`}
                                                <span class="skeleton-text">Author Name</span>
                                                ${`\u0020`}
                                                <span class="skeleton-text">Post Date Here</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    `)}
                </ul>
            </div>
            ` : $h` `}
            ` : $h` `}

            ${flags.noEntriesFound ? $h`
            <div class="empty-state empty-state-strong inset margin-vertical">
                <div class="empty-state-media">
                    <lottie-player src="${$f7.config.lottie.assetUrl + 'no-data-found.json'}" autoplay loop background="transparent" speed="1" style="height: 128px;"></lottie-player>
                </div>
                <div class="empty-state-title">No Posts Found</div>
                ${flags.filtersActive ? $h`
                <div class="empty-state-text">We couldn't find anything matching your filter criteria.</div>
                ` : $h`
                <div class="empty-state-text">There is no data available at the moment.</div>
                `}
                <div class="empty-state-actions">
                    ${flags.filtersActive ? $h`
                    <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert popup-open" data-popup="#popup-data-filter">Change Filters</button>
                    ` : $h`
                    <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${loadInitialEntries}">Retry</button>
                    `}
                </div>
            </div>
            ` : $h` `}

            ${flags.apiErrorEntries ? $h`
            <div class="empty-state empty-state-strong inset margin-vertical">
                <div class="empty-state-media">
                    <lottie-player src="${$f7.config.lottie.assetUrl + 'data-load-error.json'}" autoplay loop background="transparent" speed="1" style="height: 128px; transform: scale(2);"></lottie-player>
                </div>
                ${$f7.online ? $h`
                <div class="empty-state-title">Oops!</div>
                <div class="empty-state-text">${messages.apiError}</div>
                ` : $h`
                <div class="empty-state-title">No Internet Connection</div>
                <div class="empty-state-text">Please make sure you are connected to the Internet.</div>
                `}
                <div class="empty-state-actions">
                    <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${loadInitialEntries}">Retry</button>
                </div>
            </div>
            ` : $h` `}

        </div>

        ${widgets.layoutSwitcher.enabled ? $h`
        <div id="popover-layout-switcher" class="popover" style="min-width: 192px;">
            <div class="popover-inner">
                <div class="list links-list no-chevron no-hairlines no-hairlines-between">
                    <ul>
                        ${widgets.layoutSwitcher.layouts.map((item, index) => $h`
                        <li>
                            <a href="#" class="popover-close" @click="${() => switchLayout(item.slug)}">
                                <span>${item.name}</span>
                                ${item.slug == data.layout ? $h`
                                <i class="icon f7-icons color-primary">checkmark_alt_circle_fill</i>
                                ` : $h` `}
                            </a>
                        </li>
                        `)}
                    </ul>
                </div>
            </div>
        </div>
        ` : $h` `}

        ${widgets.dataFilter.enabled ? $h`
        <div id="popup-data-filter" class="popup">
            <div class="page">
                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="left">
                            <a class="link icon-only popup-close">
                                <i class="icon material-icons">cancel</i>
                            </a>
                        </div>
                        <div class="title">Filters</div>
                        <div class="right">
                            <button type="button" class="button button-fade button-small popup-close" @click="${resetFilters}">Reset</button>
                            <button type="submit" class="button button-fill button-small margin-horizontal-half popup-close" form="form-data-filter">Apply</button>
                        </div>
                    </div>
                </div>
                <div class="page-content">
                    <form id="form-data-filter" @submit="${applyFilters}">
                        <div class="list inset margin-vertical no-hairlines-between">
                            <ul>
                                <li class="item-divider">Search</li>
                                <li>
                                    <div class="item-content item-input item-input-outline">
                                        <div class="item-inner padding-vertical">
                                            <div class="item-input-wrap">
                                                <input type="text" name="search-string" value="${filters.searchString}" />
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-divider">Sort By</li>
                                <li>
                                    <label class="item-content item-radio">
                                        <input type="radio" name="sort-by" value="date" checked="${filters.sortBy == 'date'}" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title">Published Date</div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="item-content item-radio">
                                        <input type="radio" name="sort-by" value="date" checked="${filters.sortBy == 'modified'}" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title">Updated Date</div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="item-content item-radio">
                                        <input type="radio" name="sort-by" value="title" checked="${filters.sortBy == 'title'}" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title">Title</div>
                                        </div>
                                    </label>
                                </li>
                                <li class="item-divider">Sort Order</li>
                                <li>
                                    <label class="item-content item-radio">
                                        <input type="radio" name="sort-order" value="asc" checked="${filters.sortOrder == 'asc'}" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title">Ascending</div>
                                        </div>
                                    </label>
                                </li>
                                <li>
                                    <label class="item-content item-radio">
                                        <input type="radio" name="sort-order" value="desc" checked="${filters.sortOrder == 'desc'}" />
                                        <i class="icon icon-radio"></i>
                                        <div class="item-inner">
                                            <div class="item-title">Descending</div>
                                        </div>
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="list inset margin-vertical">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Show Featured Posts Only</div>
                                            <div class="item-after">
                                                <label class="toggle toggle-init">
                                                    <input type="checkbox" name="sticky" checked="${filters.sticky == true}" />
                                                    <span class="toggle-icon"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list inset margin-vertical no-hairlines no-hairlines-between">
                            <ul class="row no-gap padding-bottom-half">
                                <li class="col-100 item-divider margin-bottom-half">Published Between</li>
                                <li class="col-100 small-50">
                                    <div class="item-content item-input item-input-outline">
                                        <div class="item-inner">
                                            <div class="item-input-wrap">
                                                <input type="text" name="date-after" @click="${showDatePickerPublishedAfter}" />
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="col-100 small-50">
                                    <div class="item-content item-input item-input-outline">
                                        <div class="item-inner">
                                            <div class="item-input-wrap">
                                                <input type="text" name="date-before" @click="${showDatePickerPublishedBefore}" />
                                                <span class="input-clear-button"></span>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        ` : $h` `}

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let widgets = {
            dataFilter: {
                enabled: true,
                defaultFilters: {
                    sortBy: 'date',
                    sortOrder: 'desc',
                    searchString: null,
                    dateAfter: null,
                    dateBefore: null,
                    sticky: null
                }
            },
            layoutSwitcher: {
                enabled: true,
                layouts: [
                    {
                        name: 'List View',
                        slug: 'list'
                    },
                    {
                        name: 'Grid View',
                        slug: 'grid'
                    }
                ],
                defaultLayout: 'list'
            },
            infiniteScroll: {
                enabled: true
            }
        }

        let data = {
            layout: localStorage.getItem('Nectar_WordPress_Posts_Layout') || widgets.layoutSwitcher.defaultLayout,
            entries: null
        }

        let messages = {
            apiError: null
        }

        let flags = {
            allowInfiniteScroll: false,
            allEntriesLoaded: false,
            apiErrorEntries: false,
            initialEntriesLoaded: false,
            loadingInitialEntries: false,
            loadingMoreEntries: false,
            loadMoreEntriesError: false,
            noEntriesFound: false,
            filtersActive: false
        }

        let pagination = {
            entriesPerPage: 25,
            currentPage: 1
        }

        let filters = $f7.utils.extend({}, widgets.dataFilter.defaultFilters);

        let generateRequestParameters = function() {
            let parameters = {};
            parameters.per_page = pagination.entriesPerPage;
            parameters.page = pagination.currentPage;
            if (filters.sortBy != null) {
                parameters.orderby = filters.sortBy;
            }
            if (filters.sortOrder != null) {
                parameters.order = filters.sortOrder;
            }
            if (filters.searchString != null) {
                parameters.search = filters.searchString;
            }
            if (filters.dateAfter != null) {
                parameters.after = filters.dateAfter;
            }
            if (filters.dateBefore != null) {
                parameters.before = filters.dateBefore;
            }
            if (filters.sticky != null) {
                parameters.sticky = filters.sticky;
            }
            if ($f7route.params.category_id) {
                parameters.categories = $f7route.params.category_id;
            }
            if ($f7route.params.tag_id) {
                parameters.tags = $f7route.params.tag_id;
            }
            if ($f7route.params.author_id) {
                parameters.author = $f7route.params.author_id;
            }
            parameters._embed = true;
            return parameters;
        }

        let generateResponseData = function(response) {
            let entries = [];
            for (i=0; i<response.data.length; i++) {
                let entry = {};
                entry.id = response.data[i].id || null;
                entry.title = response.data[i].title && response.data[i].title.rendered ? response.data[i].title.rendered : null;
                entry.slug = response.data[i].slug || null;
                entry.excerpt = response.data[i].excerpt && response.data[i].excerpt.rendered ? response.data[i].excerpt.rendered : null;
                entry.content = response.data[i].content  && response.data[i].content.rendered ? response.data[i].content.rendered : null;
                if (response.data[i].featured_media && response.data[i]._embedded && response.data[i]._embedded['wp:featuredmedia'] && response.data[i]._embedded['wp:featuredmedia'].length && response.data[i]._embedded['wp:featuredmedia'][0].id) {
                    entry.featuredMedia = {};
                    if (response.data[i]._embedded['wp:featuredmedia'][0].media_details && response.data[i]._embedded['wp:featuredmedia'][0].media_details.sizes) {
                        entry.featuredMedia = $f7.utils.extend(entry.featuredMedia, response.data[i]._embedded['wp:featuredmedia'][0].media_details.sizes);
                    }
                    entry.featuredMedia.original = {};
                    entry.featuredMedia.original.source_url = response.data[i]._embedded['wp:featuredmedia'][0].source_url;
                }
                else {
                    entry.featuredMedia = null;
                }
                if (response.data[i].author && response.data[i]._embedded && response.data[i]._embedded['author'] && response.data[i]._embedded['author'].length && response.data[i]._embedded['author'][0].id) {
                    entry.author = {};
                    entry.author.id = response.data[i]._embedded['author'][0].id;
                    entry.author.name = response.data[i]._embedded['author'][0].name;
                    entry.author.avatar = response.data[i]._embedded['author'][0].avatar_urls ? (response.data[i]._embedded['author'][0].avatar_urls['96'] || response.data[i]._embedded['author'][0].avatar_urls['48'] || response.data[i]._embedded['author'][0].avatar_urls['24']) : null;
                }
                else {
                    entry.author = null;
                }
                entry.date = filters.sortBy == 'modified' ? response.data[i].modified_gmt : response.data[i].date_gmt;
                entry.sticky = response.data[i].sticky ? true : false;
                entry.protected = (response.data[i].excerpt && response.data[i].excerpt.protected || response.data[i].content && response.data[i].content.protected) ? true : false;
                if (response.data[i]._links && response.data[i]._links['wp:term'] && response.data[i]._links['wp:term'].length) {
                    let _links_WP_Term = response.data[i]._links['wp:term'];
                    let _embedded_WP_Term = response.data[i]._embedded['wp:term'];
                    let taxonomies = {};
                    for (j=0; j<_links_WP_Term.length; j++) {
                        let taxonomy = _links_WP_Term[j].taxonomy;
                        taxonomies[taxonomy] = [];
                        for (k=0; k<_embedded_WP_Term.length; k++) {
                            for (l=0; l<_embedded_WP_Term[k].length; l++) {
                                let terms = [];
                                if (_embedded_WP_Term[k][l].taxonomy == taxonomy) {
                                    let term = {};
                                    term.id = _embedded_WP_Term[k][l].id;
                                    term.name = _embedded_WP_Term[k][l].name;
                                    term.slug = _embedded_WP_Term[k][l].slug;
                                    taxonomies[taxonomy].push(term);
                                }
                            }
                        }
                    }
                    entry.taxonomies = taxonomies;
                }
                else {
                    entry.taxonomies = null;
                }
                entries.push(entry);
            }
            return entries;
        }

        let loadInitialEntries = function() {
            flags.allEntriesLoaded = false;
            flags.apiErrorEntries = false;
            flags.initialEntriesLoaded = false;
            flags.loadingInitialEntries = true;
            flags.loadingMoreEntries = false;
            flags.loadMoreEntriesError = false;
            flags.noEntriesFound = false;
            pagination.currentPage = 1;
            data.entries = null;
            messages.apiError = null;
            $update();
            let requestParameters = generateRequestParameters();
            $f7.request({
                url: $f7.wordpress.generateEndpoint($f7.wordpress.type == 'org' ? '/wp/v2' : '', '/posts'),
                method: 'GET',
                data: requestParameters,
                dataType: 'json'
            })
            .then(function(response) {
                if (response.data.length) {
                    flags.initialEntriesLoaded = true;
                    flags.loadingInitialEntries = false;
                    let entries = generateResponseData(response);
                    data.entries = entries;
                    $update(function() {
                        $f7.randomColorClassGenerator.initialize($el.value);
                        if (response.data.length < pagination.entriesPerPage) {
                            flags.allEntriesLoaded = true;
                            $update();
                        }
                        else {
                            if (widgets.infiniteScroll.enabled) {
                                flags.allowInfiniteScroll = true;
                                $update(function() {
                                    initializeInfiniteScroll();
                                });
                            }
                        }
                    });
                }
                else {
                    flags.loadingInitialEntries = false;
                    flags.noEntriesFound = true;
                    $update();
                }
            })
            .catch(function(response) {
                flags.apiErrorEntries = true;
                flags.loadingInitialEntries = false;
                messages.apiError = $f7.wordpress.parseHttpError(response);
                $update();
            });
        }

        let loadMoreEntries = function() {
            flags.loadingMoreEntries = true;
            flags.loadMoreEntriesError = false;
            pagination.currentPage = pagination.currentPage + 1;
            $update();
            let requestParameters = generateRequestParameters();
            $f7.request({
                url: $f7.wordpress.generateEndpoint($f7.wordpress.type == 'org' ? '/wp/v2' : '', '/posts'),
                method: 'GET',
                data: requestParameters,
                dataType: 'json'
            })
            .then(function(response) {
                if (response.data.length) {
                    flags.loadingMoreEntries = false;
                    entries = generateResponseData(response);
                    data.entries = data.entries.concat(entries);
                    $update(function() {
                        $f7.randomColorClassGenerator.initialize($el.value);
                        if (response.data.length < pagination.entriesPerPage) {
                            if (widgets.infiniteScroll.enabled) {
                                $f7.infiniteScroll.destroy($el.value.find('.infinite-scroll-content'));
                            }
                            flags.allEntriesLoaded = true;
                            $update();
                            return;
                        }
                        if (widgets.infiniteScroll.enabled) {
                            if ($f7.elementInViewport($el.value.find('#infinite-scroll-handler')[0])) {
                                loadMoreEntries();
                            }
                            else {
                                flags.allowInfiniteScroll = true;
                                $update();
                            }
                        }
                    });
                }
            })
            .catch(function(response) {
                flags.loadingMoreEntries = false;
                flags.loadMoreEntriesError = true;
                pagination.currentPage = pagination.currentPage - 1;
                $update();
            });
        }

        let initializeInfiniteScroll = function() {
            $f7.infiniteScroll.create($el.value.find('.infinite-scroll-content'));
            $el.value.find('.infinite-scroll-content').on('infinite', function() {
                if (!flags.allowInfiniteScroll) {
                    return;
                }
                flags.allowInfiniteScroll = false;
                $update(function() {
                    loadMoreEntries();
                });
            });
            if ($f7.elementInViewport($el.value.find('#infinite-scroll-handler')[0])) {
                flags.allowInfiniteScroll = false;
                $update(function() {
                    loadMoreEntries();
                });
            }
        }

        let switchLayout = function(layout) {
            localStorage.setItem('Nectar_WordPress_Posts_Layout', layout);
            data.layout = layout;
            $update(function() {
                $f7.randomColorClassGenerator.initialize($el.value);
            });
        }

        let datePickerPublishedAfter = null;
        let datePickerPublishedBefore = null;

        let showDatePickerPublishedAfter = function() {
            if (datePickerPublishedAfter) {
                datePickerPublishedAfter.open();
            }
            else {
                datePickerPublishedAfter = $f7.calendar.create({
                    inputEl: $('#popup-data-filter input[name=date-after]'),
                    dateFormat: 'yyyy-mm-dd',
                    openIn: 'customModal',
                    header: true,
                    headerPlaceholder: 'Published After',
                    footer: true
                });
                datePickerPublishedAfter.open();
            }
            if (datePickerPublishedBefore) {
                datePickerPublishedBefore.close();
            }
        }

        let showDatePickerPublishedBefore = function() {
            if (datePickerPublishedBefore) {
                datePickerPublishedBefore.open();
            }
            else {
                datePickerPublishedBefore = $f7.calendar.create({
                    inputEl: $('#popup-data-filter input[name=date-before]'),
                    dateFormat: 'yyyy-mm-dd',
                    openIn: 'customModal',
                    header: true,
                    headerPlaceholder: 'Published Before',
                    footer: true
                });
                datePickerPublishedBefore.open();
            }
            if (datePickerPublishedAfter) {
                datePickerPublishedAfter.close();
            }
        }

        let applyFilters = function(event) {
            event.preventDefault();
            let form = event.target;
            filters.sortBy = form.elements.namedItem('sort-by').value;
            filters.sortOrder = form.elements.namedItem('sort-order').value;
            filters.searchString = form.elements.namedItem('search-string').value;
            let dateAfter = null;
            if (form.elements.namedItem('date-after').value) {
                dateAfter = moment.utc(form.elements.namedItem('date-after').value);
                dateAfter.set({hour: 0, minute: 0, second: 0, millisecond: 0});
            }
            filters.dateAfter = dateAfter ? dateAfter.toISOString() : null;
            let dateBefore = null;
            if (form.elements.namedItem('date-before').value) {
                dateBefore = moment.utc(form.elements.namedItem('date-before').value);
                dateBefore.set({hour: 23, minute: 23, second: 59, millisecond: 999});
            }
            filters.dateBefore = dateBefore ? dateBefore.toISOString() : null;
            filters.sticky = form.elements.namedItem('sticky').checked ? true : null;
            flags.filtersActive = true;
            $update(function() {
                loadInitialEntries();
            });
        }

        let resetFilters = function() {
            $f7.utils.extend(filters, widgets.dataFilter.defaultFilters);
            $update(function() {
                loadInitialEntries();
            });
        }

        let initializePullToRefresh = function() {
            let pullToRefresh = $f7.ptr.create($el.value.find('.ptr-content'));
            pullToRefresh.on('refresh', function() {
                setTimeout(function() {
                    pullToRefresh.done();
                    $f7router.refreshPage();
                }, 1000);
            });
        }

        $on('pageBeforeIn', function() {
            loadInitialEntries();
            initializePullToRefresh();
        });

        return $render;
    }
</script>