<template>
    <div class="page" data-name="activity-feed">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Activity Feed</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="card margin-vertical no-shadow">
                        <div class="card-header align-items-flex-start justify-content-flex-start font-size-14 font-weight-normal padding-half">
                            <img class="shape-circle" src="https://source.unsplash.com/lFzsXAqL72Q/80x80" loading="lazy" height="40" width="40" alt="" />
                            <div class="flex-grow-1 margin-horizontal-half">
                                <div><a href="#" class="font-weight-600 text-color-body">Kolby Schimmel</a> updated his profile picture.</div>
                                <div class="font-size-12 text-color-gray">Yesterday at 3:00 PM</div>
                            </div>
                            <a href="#" class="link icon-only color-gray">
                                <i class="icon f7-icons font-size-12 text-color-gray">ellipsis_vertical</i>
                            </a>
                        </div>
                        <div class="card-content font-size-14">
                            <img src="https://source.unsplash.com/lFzsXAqL72Q" loading="lazy" alt="" />
                            <div class="card-content-padding">
                                <div class="display-flex justify-content-space-between">
                                    <a href="#" class="text-color-gray">75 Likes</a>
                                    <a href="#" class="text-color-gray">13 Comments</a>
                                    <a href="#" class="text-color-gray">2 Shares</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="state-toggle button button-icon button-small color-red tooltip-init" data-tooltip="Like">
                                <i class="state-inactive icon f7-icons font-size-20">heart</i>
                                <i class="state-active icon f7-icons font-size-20">heart_fill</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-blue tooltip-init" data-tooltip="Comment">
                                <i class="icon f7-icons font-size-20">text_bubble</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-green tooltip-init" data-tooltip="Share">
                                <i class="icon f7-icons font-size-20">square_arrow_up</i>
                            </button>
                        </div>
                    </div>

                    <div class="card margin-vertical no-shadow">
                        <div class="card-header align-items-flex-start justify-content-flex-start font-size-14 font-weight-normal padding-half">
                            <img class="shape-circle" src="https://source.unsplash.com/0wRXAXqIp58/80x80" loading="lazy" height="40" width="40" alt="" />
                            <div class="flex-grow-1 margin-horizontal-half">
                                <div><a href="#" class="font-weight-600 text-color-body">Jennifer Waters</a> uploaded a photo.</div>
                                <div class="font-size-12 text-color-gray">November 15 at 5:45 PM </div>
                            </div>
                            <a href="#" class="link icon-only color-gray">
                                <i class="icon f7-icons font-size-12 text-color-gray">ellipsis_vertical</i>
                            </a>
                        </div>
                        <div class="card-content font-size-14">
                            <div class="card-content-padding">
                                <div class="show-more-less show-more-less-init" data-config='{"type": "text", "limit": 100}'>Necessitatibus perferendis iste possimus id rem. Architecto placeat fugiat facilis. Cupiditate autem sequi incidunt quos neque recusandae ratione quam. Aut enim et nemo id quae qui consequuntur. Modi laudantium deserunt.</div>
                            </div>
                            <img src="https://source.unsplash.com/vBW5RylIdTU" loading="lazy" alt="" />
                            <div class="card-content-padding">
                                <div class="display-flex justify-content-space-between">
                                    <a href="#" class="text-color-gray">55K Likes</a>
                                    <a href="#" class="text-color-gray">37K Comments</a>
                                    <a href="#" class="text-color-gray">2K Shares</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="state-toggle state-toggle-active button button-icon button-small color-red tooltip-init" data-tooltip="Like">
                                <i class="state-inactive icon f7-icons font-size-20">heart</i>
                                <i class="state-active icon f7-icons font-size-20">heart_fill</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-blue tooltip-init" data-tooltip="Comment">
                                <i class="icon f7-icons font-size-20">text_bubble</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-green tooltip-init" data-tooltip="Share">
                                <i class="icon f7-icons font-size-20">square_arrow_up</i>
                            </button>
                        </div>
                    </div>

                    <div class="card margin-vertical no-shadow">
                        <div class="card-header align-items-flex-start justify-content-flex-start font-size-14 font-weight-normal padding-half">
                            <img class="shape-circle" src="https://source.unsplash.com/nKZuhvCGGQU/80x80" loading="lazy" height="40" width="40" alt="" />
                            <div class="flex-grow-1 margin-horizontal-half">
                                <div><a href="#" class="font-weight-600 text-color-body">Rosemary Bayer</a> checked in at <a href="#" class="font-weight-600 text-color-body">Atlantis, The Palm — Dubai</a></div>
                                <div class="font-size-12 text-color-gray">November 13 at 11:15 PM</div>
                            </div>
                            <a href="#" class="link icon-only color-gray">
                                <i class="icon f7-icons font-size-12 text-color-gray">ellipsis_vertical</i>
                            </a>
                        </div>
                        <div class="card-content font-size-14">
                            <div class="responsive-container">
                                <div class="responsive-container">
                                    <iframe class="responsive-content" src="https://google.com/maps/embed/v1/place?q=25.1304474,55.1149611&key=${$f7.config.googleMaps.apiKey}" loading="lazy"></iframe>
                                </div>
                            </div>
                            <div class="card-content-padding">
                                <div class="display-flex justify-content-space-between">
                                    <a href="#" class="text-color-gray">15 Likes</a>
                                    <a href="#" class="text-color-gray">3 Comments</a>
                                    <a href="#" class="text-color-gray">No Shares</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="state-toggle button button-icon button-small color-red tooltip-init" data-tooltip="Like">
                                <i class="state-inactive icon f7-icons font-size-20">heart</i>
                                <i class="state-active icon f7-icons font-size-20">heart_fill</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-blue tooltip-init" data-tooltip="Comment">
                                <i class="icon f7-icons font-size-20">text_bubble</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-green tooltip-init" data-tooltip="Share">
                                <i class="icon f7-icons font-size-20">square_arrow_up</i>
                            </button>
                        </div>
                    </div>

                    <div class="card margin-vertical no-shadow">
                        <div class="card-header align-items-flex-start justify-content-flex-start font-size-14 font-weight-normal padding-half">
                            <img class="shape-circle" src="https://source.unsplash.com/6W4F62sN_yI/80x80" loading="lazy" height="40" width="40" alt="" />
                            <div class="flex-grow-1 margin-horizontal-half">
                                <div><a href="#" class="font-weight-600 text-color-body">Catherine Emard</a> uploaded a video.</div>
                                <div class="font-size-12 text-color-gray">October 22 at 01:30 AM</div>
                            </div>
                            <a href="#" class="link icon-only color-gray">
                                <i class="icon f7-icons font-size-12 text-color-gray">ellipsis_vertical</i>
                            </a>
                        </div>
                        <div class="card-content font-size-14">
                            <div class="responsive-container">
                                <video class="responsive-content" controls playsinline preload="metadata">
                                    <source src="https://assets.mixkit.co/videos/preview/mixkit-happy-friends-partying-on-a-shopping-day-36049-large.mp4" type="video/mp4" />
                                </video>
                            </div>
                            <div class="card-content-padding">
                                <div class="display-flex justify-content-space-between">
                                    <a href="#" class="text-color-gray">343 Likes</a>
                                    <a href="#" class="text-color-gray">147 Comments</a>
                                    <a href="#" class="text-color-gray">23 Shares</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="state-toggle state-toggle-active button button-icon button-small color-red tooltip-init" data-tooltip="Like">
                                <i class="state-inactive icon f7-icons font-size-20">heart</i>
                                <i class="state-active icon f7-icons font-size-20">heart_fill</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-blue tooltip-init" data-tooltip="Comment">
                                <i class="icon f7-icons font-size-20">text_bubble</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-green tooltip-init" data-tooltip="Share">
                                <i class="icon f7-icons font-size-20">square_arrow_up</i>
                            </button>
                        </div>
                    </div>

                    <div class="card margin-vertical no-shadow">
                        <div class="card-header align-items-flex-start justify-content-flex-start font-size-14 font-weight-normal padding-half">
                            <img class="shape-circle" src="https://source.unsplash.com/5vg_SarQimA/80x80" loading="lazy" height="40" width="40" alt="" />
                            <div class="flex-grow-1 margin-horizontal-half">
                                <div><a href="#" class="font-weight-600 text-color-body">Santos Zemlak</a> uploaded an album <a href="#" class="font-weight-600 text-color-body">Art</a>.</div>
                                <div class="font-size-12 text-color-gray">October 11 at 02:23 AM</div>
                            </div>
                            <a href="#" class="link icon-only color-gray">
                                <i class="icon f7-icons font-size-12 text-color-gray">ellipsis_vertical</i>
                            </a>
                        </div>
                        <div class="card-content font-size-14">
                            <div class="card-content-padding">
                                <div class="show-more-less show-more-less-init" data-config='{"type": "text", "limit": 100}'>Quasi doloremque ab minima placeat. Eum provident adipisci aspernatur maxime suscipit velit eligendi. Ratione dolores nostrum repellendus veritatis animi accusantium. Consequatur omnis maiores quos nemo nihil dicta. Natus distinctio officiis corrupti rerum repudiandae deleniti doloribus placeat.</div>
                            </div>
                            <div class="swiper swiper-init" data-centered-slides="true" data-loop="true" data-slides-per-view="2" data-space-between="16">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="responsive-container">
                                            <img class="responsive-content shape-rounded-square" src="https://source.unsplash.com/XtUd5SiX464" loading="lazy" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="responsive-container">
                                            <img class="responsive-content shape-rounded-square" src="https://source.unsplash.com/pz_hAv6ER7c" loading="lazy" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="responsive-container">
                                            <img class="responsive-content shape-rounded-square" src="https://source.unsplash.com/D5_cfqMAY0Y" loading="lazy" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="responsive-container">
                                            <img class="responsive-content shape-rounded-square" src="https://source.unsplash.com/5E5N49RWtbA" loading="lazy" alt="" />
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="responsive-container">
                                            <img class="responsive-content shape-rounded-square" src="https://source.unsplash.com/fbAnIjhrOL4" loading="lazy" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-content-padding">
                                <div class="display-flex justify-content-space-between">
                                    <a href="#" class="text-color-gray">35 Likes</a>
                                    <a href="#" class="text-color-gray">10 Comments</a>
                                    <a href="#" class="text-color-gray">3 Shares</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="state-toggle button button-icon button-small color-red tooltip-init" data-tooltip="Like">
                                <i class="state-inactive icon f7-icons font-size-20">heart</i>
                                <i class="state-active icon f7-icons font-size-20">heart_fill</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-blue tooltip-init" data-tooltip="Comment">
                                <i class="icon f7-icons font-size-20">text_bubble</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-green tooltip-init" data-tooltip="Share">
                                <i class="icon f7-icons font-size-20">square_arrow_up</i>
                            </button>
                        </div>
                    </div>

                    <div class="card margin-vertical no-shadow">
                        <div class="card-header align-items-flex-start justify-content-flex-start font-size-14 font-weight-normal padding-half">
                            <img class="shape-circle" src="https://source.unsplash.com/IF9TK5Uy-KI/80x80" loading="lazy" height="40" width="40" alt="" />
                            <div class="flex-grow-1 margin-horizontal-half">
                                <div><a href="#" class="font-weight-600 text-color-body">Alessia Gorczany</a> posted an article.</div>
                                <div class="font-size-12 text-color-gray">September 23 at 09:10 AM </div>
                            </div>
                            <a href="#" class="link icon-only color-gray">
                                <i class="icon f7-icons font-size-12 text-color-gray">ellipsis_vertical</i>
                            </a>
                        </div>
                        <div class="card-content font-size-14">
                            <div class="card-content-padding">
                                <p>Enim repudiandae itaque optio pariatur vero aspernatur qui. Quisquam sunt repudiandae quo minima nobis laudantium ipsum non dolorem. Facilis iusto quaerat minus amet ad a. Inventore animi iusto impedit veritatis culpa voluptates aliquam. Excepturi labore totam autem.</p>
                                <ul>
                                    <li>Commerson’s Dolphin</li>
                                    <li>Sloth Bear</li>
                                    <li>Lawrence's Goldfinch</li>
                                    <li>Cuvier’s Dwarf Caiman</li>
                                    <li>Bahia Porcupine</li>
                                </ul>
                                <img class="shape-rounded-square" src="https://source.unsplash.com/CBCOGvb6-Lg" loading="lazy" alt="" />
                                <p>Minima doloremque rem ipsa. Enim harum eveniet occaecati autem tempore quos eius labore. Eos numquam rerum odio commodi. Fugiat provident a saepe vitae rerum nostrum id. Similique reprehenderit eos repellendus magni ut quisquam at magni.</p>
                            </div>
                            <div class="card-content-padding">
                                <div class="display-flex justify-content-space-between">
                                    <a href="#" class="text-color-gray">55 Likes</a>
                                    <a href="#" class="text-color-gray">37 Comments</a>
                                    <a href="#" class="text-color-gray">2 Shares</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="state-toggle state-toggle-active button button-icon button-small color-red tooltip-init" data-tooltip="Like">
                                <i class="state-inactive icon f7-icons font-size-20">heart</i>
                                <i class="state-active icon f7-icons font-size-20">heart_fill</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-blue tooltip-init" data-tooltip="Comment">
                                <i class="icon f7-icons font-size-20">text_bubble</i>
                            </button>
                            <button type="button" class="button button-icon button-small color-green tooltip-init" data-tooltip="Share">
                                <i class="icon f7-icons font-size-20">square_arrow_up</i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>