<template>
    <div class="page" data-name="events-list">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Events - List</div>
            </div>
        </div>

        <div class="page-content">

            ${events ? $h`
            ${events == 'error' ? $h`
            <div class="empty-state empty-state-strong inset margin-vertical">
                <div class="empty-state-media">
                    <lottie-player src="${$f7.config.lottie.assetUrl + 'data-load-error.json'}" autoplay loop background="transparent" speed="1" style="height: 128px; transform: scale(2);"></lottie-player>
                </div>
                <div class="empty-state-title">Oops...</div>
                <div class="empty-state-text">An error occured while loading data.</div>
                <div class="empty-state-actions">
                    <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${loadData}">Retry</button>
                </div>
            </div>
            ` : $h`
            ${events.length ? $h`
            <div class="list cards-list inset margin-vertical-half no-chevron no-hairlines no-hairlines-between">
                <ul class="row align-items-stretch">
                    ${events.map((item, index) => $h`
                    <li class="col-100 small-50 xlarge-33 bg-cover bg-overlay elevation-24" style="background-image: url('${item.image}'); height: 256px;">
                        <div class="item-content height-100">
                            <div class="item-inner item-cell height-100 padding-vertical z-index-100">
                                <div class="item-row flex-direction-column height-100">
                                    <div class="item-row">
                                        <div class="item-cell flex-shrink-0 width-auto">
                                            <div class="shape-container shape-auto size-64 bg-color-white">
                                                <span class="font-size-28 font-weight-bold line-height-1 text-color-black">${moment(item.date).format('DD')}</span>
                                                <span class="font-size-12 font-weight-bold letter-spacing-1 text-uppercase text-color-red">${moment(item.date).format('MMM')}</span>
                                            </div>
                                        </div>
                                        <div class="item-cell flex-shrink-0 width-auto align-self-flex-start">
                                            <button class="state-toggle ${item.favorite ? 'state-toggle-active' : ''} button button-fill button-icon button-round color-white" @stateChange="${(event) => toggleFavorite(item.id, event.detail)}">
                                                <i class="state-inactive icon material-icons font-size-20 color-gray">favorite</i>
                                                <i class="state-active icon material-icons font-size-20 color-red">favorite</i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="item-row margin-top-auto">
                                        <div class="item-cell">
                                            <div>
                                                <a href="#" class="link badge font-size-10 font-weight-600 text-uppercase color-white text-color-blue">${item.category.name}</a>
                                                ${`\u0020`}
                                                <a href="#" class="link badge font-size-10 font-weight-600 text-uppercase color-white text-color-green">${item.paid ? 'Paid' : 'Free'}</a>
                                                ${item.virtual && $h`
                                                ${`\u0020`}
                                                <a href="#" class="link badge font-size-10 font-weight-600 text-uppercase color-white text-color-pink">Virtual</a>
                                                `}
                                            </div>
                                            <a href="/events-single/" class="text-color-white">
                                                <div class="font-size-18 font-weight-bold margin-top-half multi-line-text lines-2">${item.title}</div>
                                                <div class="font-size-12 margin-top-half single-line-text">
                                                    <i class="icon material-icons font-size-16">schedule</i>
                                                    ${`\u0020`}
                                                    <span>${moment(item.date).format('dddd, MMMM DD, YYYY')}</span>
                                                    ${`\u0020`}
                                                    ${'\u2022'}
                                                    ${`\u0020`}
                                                    <span>${moment(item.date).format('hh:mm A')}</span>
                                                </div>
                                                <div class="font-size-12 margin-top-half single-line-text">
                                                    <i class="icon material-icons font-size-16">place</i>
                                                    ${`\u0020`}
                                                    <span>${item.location}</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    `)}
                </ul>
            </div>
            ` : $h`
            <div class="empty-state empty-state-strong inset margin-vertical">
                <div class="empty-state-media">
                    <lottie-player src="${$f7.config.lottie.assetUrl + 'no-data-found.json'}" autoplay loop background="transparent" speed="1" style="height: 128px;"></lottie-player>
                </div>
                <div class="empty-state-title">No Data Found</div>
                <div class="empty-state-text">There is no data available at the moment.</div>
                <div class="empty-state-actions">
                    <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${loadData}">Retry</button>
                </div>
            </div>
            `}
            `}
            ` : $h`
            <div class="block margin-vertical text-align-center">
                <div key="preloader" class="preloader"></div>
            </div>
            `}

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let events = null;

        let loadData = function() {
            events = null;
            $update();
            $f7.request({
                url: 'assets/custom/dataset/events.json',
                method: 'GET',
                data: null,
                dataType: 'json'
            })
            .then(function(response) {
                events = response.data.length ? response.data : [];
                $update();
            })
            .catch(function(response) {
                events = 'error';
                $update();
            });
        }

        let toggleFavorite = function(id, state) {
            events.forEach(function(event) {
                if (event.id == id) {
                    event.favorite = state ? true : false;
                    $update(function() {
                        $f7.toast.show({
                            text: state ? 'Added to Favorites' : 'Removed from Favorites',
                            icon: state ? '<i class="icon material-icons color-red">favorite</i>' : '<i class="icon material-icons color-gray">favorite</i>',
                            position: 'center'
                        });
                    });
                }
            });
        }

        $on('pageBeforeIn', function() {
            loadData();
        });

        return $render;
    }
</script>