<template>
    <div class="page no-sidebar no-tabbar" data-name="forgot-password">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="title">Forgot Password?</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 small-80 medium-65 large-50 xlarge-35">

                    <div class="block block-strong inset margin-vertical">

                        <p class="text-align-center">Please enter your registered email address below. We will send a token to reset your password.</p>

                        <form name="forgot-password" action="#" method="POST" enctype="multipart/form-data">
                            <div class="list no-hairlines no-margin-vertical no-safe-areas" style="--f7-list-item-padding-horizontal: 0px;">
                                <ul>
                                    <li>
                                        <div class="item-content item-input item-input-outline">
                                            <div class="item-inner">
                                                <div class="item-input-wrap">
                                                    <div class="item-media">
                                                        <i class="icon material-icons">email</i>
                                                    </div>
                                                    <input type="email" name="email" inputmode="email" placeholder="Email" required />
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="margin-top-half text-align-center">
                                <button type="submit" class="button button-fill button-large">Submit</button>
                                <div class="margin-top-half">Remember Password? <a href="/login/">Log In</a></div>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>

        <div id="popup-validate-token" class="popup">
            <div class="page">

                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="title">Validate Token</div>
                        <div class="right">
                            <a class="link icon-only" @click="${() => popupValidateToken.close()}">
                                <i class="icon material-icons">cancel</i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="page-content">

                    <div class="block block-strong inset margin-vertical">

                        <p class="text-align-center">To reset your password, please enter the token we have sent on your registered email address.</p>

                        <form name="validate-token" action="#" method="POST" enctype="multipart/form-data">
                            <div class="list no-hairlines no-margin-vertical no-safe-areas" style="--f7-list-item-padding-horizontal: 0px;">
                                <ul>
                                    <li>
                                        <div class="item-content item-input item-input-outline">
                                            <div class="item-inner">
                                                <div class="item-input-wrap">
                                                    <input type="text" name="token" required />
                                                    <span class="input-clear-button"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="margin-top-half text-align-center">
                                <button type="submit" class="button button-fill button-large">Validate</button>
                                <div class="margin-top-half">Didn't receive the token? <a href="#" class="link link-button" @click="${resendToken}">Resend</a></div>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

        <div id="popup-reset-password" class="popup">
            <div class="page">

                <div class="navbar">
                    <div class="navbar-bg"></div>
                    <div class="navbar-inner">
                        <div class="title">Reset Password</div>
                        <div class="right">
                            <a class="link icon-only" @click="${() => popupResetPassword.close()}">
                                <i class="icon material-icons">cancel</i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="page-content">

                    <div class="block block-strong inset margin-vertical">

                        <p class="text-align-center">Your email address has been verified. You can now reset your password.</p>

                        <form name="reset-password" action="#" method="POST" enctype="multipart/form-data">
                            <div class="list no-hairlines no-margin-vertical no-safe-areas" style="--f7-list-item-padding-horizontal: 0px;">
                                <ul>
                                    <li>
                                        <div class="item-content item-input item-input-outline">
                                            <div class="item-inner">
                                                <div class="item-input-wrap">
                                                    <div class="item-media">
                                                        <i class="icon material-icons">lock</i>
                                                    </div>
                                                    <input type="password" name="password" placeholder="Password" required />
                                                    <a href="#" class="state-toggle link icon-only color-gray" @stateChange="${togglePasswordVisibility}">
                                                        <i class="state-active icon material-icons tooltip-init" data-tooltip="Hide Password">visibility_off</i>
                                                        <i class="state-inactive icon material-icons tooltip-init" data-tooltip="Show Password">visibility</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content item-input item-input-outline">
                                            <div class="item-inner">
                                                <div class="item-input-wrap">
                                                    <div class="item-media">
                                                        <i class="icon material-icons">lock</i>
                                                    </div>
                                                    <input type="password" name="confirm_password" placeholder="Confirm Password" required />
                                                    <a href="#" class="state-toggle link icon-only color-gray" @stateChange="${togglePasswordVisibility}">
                                                        <i class="state-active icon material-icons tooltip-init" data-tooltip="Hide Password">visibility_off</i>
                                                        <i class="state-inactive icon material-icons tooltip-init" data-tooltip="Show Password">visibility</i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="margin-top-half">
                                <button type="submit" class="button button-fill button-large">Reset Password</button>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let popupValidateToken = null;
        let popupResetPassword = null;
        let formValidatorForgotPassword = null;
        let formValidatorValidateToken = null;
        let formValidatorResetPassword = null;

        let initializePopupValidateToken = function() {
            popupValidateToken = $f7.popup.create({
                el: $el.value.find('#popup-validate-token')
            });
        }

        let initializePopupResetPassword = function() {
            popupResetPassword = $f7.popup.create({
                el: $el.value.find('#popup-reset-password')
            });
        }

        let initializeFormValidatorForgotPassword = function() {
            formValidatorForgotPassword = jQuery($el.value.find('form[name=forgot-password]')).validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    email: {
                        required: 'Please enter email address.',
                        email: 'Please enter a valid email address.'
                    }
                },
                submitHandler: function(form) {
                    form.reset();
                    popupValidateToken.open();
                }
            });
        }

        let initializeFormValidatorValidateToken = function() {
            formValidatorValidateToken = jQuery($el.value.find('form[name=validate-token]')).validate({
                rules: {
                    token: {
                        required: true
                    }
                },
                messages: {
                    token: {
                        required: 'Please enter token.'
                    }
                },
                submitHandler: function(form) {
                    form.reset();
                    popupValidateToken.close();
                    popupResetPassword.open();
                }
            });
        }

        let initializeFormValidatorResetPassword = function() {
            formValidatorResetPassword = jQuery($el.value.find('form[name=reset-password]')).validate({
                rules: {
                    password: {
                        required: true
                    },
                    confirm_password: {
                        required: true
                    }
                },
                messages: {
                    password: {
                        required: 'Please enter password.'
                    },
                    confirm_password: {
                        required: 'Please re-enter password.'
                    }
                },
                submitHandler: function(form) {
                    $f7.toast.show({
                        text: 'Your password has been reset successfully. Please log in to continue.',
                        cssClass: 'color-green'
                    });
                    $f7router.navigate('/login/', {
                        reloadCurrent: true
                    });
                }
            });
        }

        let resendToken = function() {
            $f7.toast.show({
                text: 'Token has been sent to your email address.',
                cssClass: 'color-green'
            });
        }

        let togglePasswordVisibility = function(event) {
            let state = event.detail;
            let inputEl = $(event.target).closest('.item-input-wrap').find('input');
            if (state) {
                inputEl.attr('type', 'text');
            }
            else {
                inputEl.attr('type', 'password');
            }
        }

        $on('pageBeforeIn', function() {
            initializePopupValidateToken();
            initializePopupResetPassword();
            initializeFormValidatorForgotPassword();
            initializeFormValidatorValidateToken();
            initializeFormValidatorResetPassword();
        });

        return $render;
    }
</script>