<template>
    <div class="page" data-name="pricing">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Pricing</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 xlarge-90">

                    <div class="block margin-vertical text-align-center">
                        <div class="font-size-40 font-weight-900">
                            <span class="text-color-primary">Flexible</span>
                            ${`\u0020`}
                            <span>Plans</span>
                        </div>
                        <div class="text-color-gray">Choose a plan that works best for you and your team.</div>
                    </div>

                    <div class="block no-margin">
                        <div class="row no-gap align-items-stretch justify-content-center height-100 safe-areas">

                            <div class="col-100 medium-50 large-33 padding-vertical-half">
                                <div class="card display-flex flex-direction-column height-100 margin-horizontal-half no-margin-vertical no-safe-areas no-shadow">
                                    <div class="card-content card-content-padding text-align-center text-color-purple">
                                        <span class="shape-container shape-auto size-64 bg-color-purple">
                                            <i class="icon f7-icons font-size-32 color-white">gift_fill</i>
                                        </span>
                                        <div class="margin-top">Great for personal projects or experiments.</div>
                                        <div class="text-uppercase">
                                            <div class="font-size-40 font-weight-bold">Free</div>
                                            <div class="font-size-12 letter-spacing-1">Forever</div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="list no-hairlines-between no-safe-areas">
                                            <ul>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-purple">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">Single User</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-purple">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">Single Domain</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-purple">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">5GB Storage</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content card-content-padding margin-top-auto">
                                        <button type="button" class="button button-fill button-large color-purple">Buy Now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-100 medium-50 large-33 padding-vertical-half">
                                <div class="card display-flex flex-direction-column height-100 margin-horizontal-half no-margin-vertical no-safe-areas no-shadow">
                                    <div class="ribbon ribbon-clip ribbon-round ribbon-top-right color-amber">Most Popular</div>
                                    <div class="card-content card-content-padding text-align-center text-color-amber">
                                        <span class="shape-container shape-auto size-64 bg-color-amber">
                                            <i class="icon f7-icons font-size-32 color-white">bolt_fill</i>
                                        </span>
                                        <div class="margin-top">Great for freelancers or developers.</div>
                                        <div class="text-uppercase">
                                            <div class="font-size-40 font-weight-bold">$25</div>
                                            <div class="font-size-12 letter-spacing-1">Per Month</div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="list no-hairlines-between no-safe-areas">
                                            <ul>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-amber">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">5 Users</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-amber">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">5 Domains</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-amber">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">50GB Storage</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content card-content-padding margin-top-auto">
                                        <button type="button" class="button button-fill button-large color-amber">Buy Now</button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-100 medium-50 large-33 padding-vertical-half">
                                <div class="card display-flex flex-direction-column height-100 margin-horizontal-half no-margin-vertical no-safe-areas no-shadow">
                                    <div class="card-content card-content-padding text-align-center text-color-lightgreen">
                                        <span class="shape-container shape-auto size-64 bg-color-lightgreen">
                                            <i class="icon f7-icons font-size-32 color-white">rocket_fill</i>
                                        </span>
                                        <div class="margin-top">Great for companies or organizations.</div>
                                        <div class="text-uppercase">
                                            <div class="font-size-40 font-weight-bold">$75</div>
                                            <div class="font-size-12 letter-spacing-1">Per Month</div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <div class="list no-hairlines-between no-safe-areas">
                                            <ul>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-lightgreen">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">25 Users</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-lightgreen">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">25 Domains</div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="item-content">
                                                        <div class="item-media">
                                                            <i class="icon f7-icons color-lightgreen">checkmark_alt_circle_fill</i>
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title">250GB Storage</div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-content card-content-padding margin-top-auto">
                                        <button type="button" class="button button-fill button-large color-lightgreen">Buy Now</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="padding-vertical-half sticky sticky-bottom">
                <div class="note note-outline inset color-primary no-margin-vertical">
                    <div class="note-content">
                        <div class="note-title">Start 14-Days Free Trial</div>
                        <div class="note-message">No Credit Card Required. No Obligation. No Risk.</div>
                    </div>
                    <div class="note-actions">
                        <a href="#" class="note-action button button-fill button-round button-small">Start Trial</a>
                    </div>
                    <a href="#" class="note-close link"></a>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>