<template>
    <div id="app">

        <!-- If Sidebar Is Enabled For Single View Or Tab View Layout -->
        ${$f7.config.layout[$f7.config.layout.default].sidebar.enabled && $h`
        <div id="sidebar" class="panel panel-cover panel-left">
            <div id="view-sidebar" class="view"></div>
        </div>
        `}

        <!-- If Single View Layout Is Set As Default -->
        ${$f7.config.layout.default == 'singleView' && $h`
        <div id="view-main" class="view view-main safe-areas"></div>
        `}

        <!-- If Tab View Layout Is Set As Default -->
        ${$f7.config.layout.default == 'tabView' && $h`
        <div class="views tabs safe-areas">
            <div id="tabbar" class="toolbar toolbar-bottom tabbar tabbar-labels color-theme-mono">
                <div class="toolbar-inner">
                    <a href="#view-main" class="tab-link tab-link-active">
                        <span class="icons">
                            <i class="icon f7-icons">house</i>
                            <i class="icon icon-active f7-icons">house_fill</i>
                        </span>
                        <span class="tabbar-label" data-i18n="home">Home</span>
                    </a>
                    <a href="#view-components" class="tab-link">
                        <span class="icons">
                            <i class="icon f7-icons">square_grid_2x2</i>
                            <i class="icon icon-active f7-icons">square_grid_2x2_fill</i>
                        </span>
                        <span class="tabbar-label" data-i18n="components">Components</span>
                    </a>
                    <a href="#view-screens" class="tab-link">
                        <span class="icons">
                            <i class="icon f7-icons">layers_alt</i>
                            <i class="icon icon-active f7-icons">layers_alt_fill</i>
                        </span>
                        <span class="tabbar-label" data-i18n="screens">Screens</span>
                    </a>
                    <a href="#view-integrations" class="tab-link">
                        <span class="icons">
                            <i class="icon f7-icons">flame</i>
                            <i class="icon icon-active f7-icons">flame_fill</i>
                        </span>
                        <span class="tabbar-label" data-i18n="integrations">Integrations</span>
                    </a>
                    <a href="#view-more" class="tab-link">
                        <span class="icons">
                            <i class="icon f7-icons">circle_grid_3x3</i>
                            <i class="icon icon-active f7-icons">circle_grid_3x3_fill</i>
                        </span>
                        <span class="tabbar-label" data-i18n="more">More</span>
                    </a>
                </div>
            </div>
            <div id="view-main" class="view view-main tab tab-active"></div>
            <div id="view-components" class="view view-components tab"></div>
            <div id="view-screens" class="view view-screens tab"></div>
            <div id="view-integrations" class="view view-integrations tab"></div>
            <div id="view-more" class="view view-more tab"></div>
        </div>
        `}

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7ready, $f7route, $f7router, $h, $on, $onMounted, $store, $theme, $update}) {

        /* If Single View Layout Is Set As Default */
        let initializeViews = function() {
            if ($f7.config.layout.default == 'singleView') {
                $f7.views.create($el.value.find('#view-main'), {
                    name: 'main',
                    main: true,
                    url: '/',
                    initRouterOnTabShow: true,
                    browserHistory: $f7.device.cordova ? false : true,
                    browserHistoryRoot: $('base').attr('href').slice(0, -1),
                    browserHistorySeparator: '',
                    browserHistoryTabs: 'push',
                    preloadPreviousPage: false,
                    auroraSwipeBack: false,
                    iosSwipeBack: false,
                    mdSwipeBack: false,
                    animate: !$f7.device.ios
                });
            }

            /* If Tab View Layout Is Set As Default */
            if ($f7.config.layout.default == 'tabView') {
                $f7.views.create($el.value.find('#view-main'), {
                    name: 'main',
                    main: true,
                    url: '/',
                    initRouterOnTabShow: true,
                    auroraSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    iosSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    mdSwipeBack: !$f7.device.desktop && $f7.device.ios
                });
                $f7.views.create($el.value.find('#view-components'), {
                    name: 'components',
                    main: false,
                    url: '/components/',
                    initRouterOnTabShow: true,
                    auroraSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    iosSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    mdSwipeBack: !$f7.device.desktop && $f7.device.ios
                });
                $f7.views.create($el.value.find('#view-screens'), {
                    name: 'screens',
                    main: false,
                    url: '/screens/',
                    initRouterOnTabShow: true,
                    auroraSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    iosSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    mdSwipeBack: !$f7.device.desktop && $f7.device.ios
                });
                $f7.views.create($el.value.find('#view-integrations'), {
                    name: 'integrations',
                    main: false,
                    url: '/integrations/',
                    initRouterOnTabShow: true,
                    auroraSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    iosSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    mdSwipeBack: !$f7.device.desktop && $f7.device.ios
                });
                $f7.views.create($el.value.find('#view-more'), {
                    name: 'more',
                    main: false,
                    url: '/settings/',
                    initRouterOnTabShow: true,
                    auroraSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    iosSwipeBack: !$f7.device.desktop && $f7.device.ios,
                    mdSwipeBack: !$f7.device.desktop && $f7.device.ios
                });
            }

            /* If Sidebar Is Enabled For Single View Or Tab View Layout */
            if ($f7.config.layout[$f7.config.layout.default].sidebar.enabled) {
                $f7.views.create($el.value.find('#view-sidebar'), {
                    name: 'sidebar',
                    main: false,
                    url: '/sidebar/'
                });
                app.panel.create({
                    el: $el.value.find('#sidebar'),
                    swipe: true,
                    swipeActiveArea: 64,
                    visibleBreakpoint: 1024,
                    collapsedBreakpoint: 768
                });
            }
        }

        $f7ready(function() {
            initializeViews();
        });

        return $render;
    }
</script>