<template>
    <div class="page">

        <div class="navbar navbar-transparent bg-color-green color-white">
            <div class="navbar-bg bg-color-green"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title text-color-white">Components</div>
                <div class="right">
                    <a href="#" class="link icon-only" @click="${enableSearchbar}">
                        <i class="icon material-icons">search</i>
                    </a>
                </div>
                <form class="searchbar searchbar-expandable">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Search" />
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                    </div>
                </form>
            </div>
        </div>

        <div class="page-content">

            <div class="block block-strong elevation-12 flexbox-centered height-auto no-hairlines no-margin bg-color-green color-green text-color-white" style="min-height: 256px;">
                <span class="shape-container shape-circle" style="background-color: var(--color-green-700);">
                    <i class="icon f7-icons font-size-40 color-white">square_grid_2x2_fill</i>
                </span>
                <div class="font-size-24 font-weight-bold margin-top-half">Components</div>
                <div class="font-size-16 margin-top-half">Components are the basic building blocks for creating beautiful and intuitive UI/UX.</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="searchbar-found">
                        <div class="list links-list inset margin-vertical">
                            <ul>
                                <li>
                                    <a href="/components/accordion/">Accordion</a>
                                </li>
                                <li>
                                    <a href="/components/action-sheet/">Action Sheet</a>
                                </li>
                                <li>
                                    <a href="/components/audio/">Audio</a>
                                </li>
                                <li>
                                    <a href="/components/autocomplete/">Autocomplete</a>
                                </li>
                                <li>
                                    <a href="/components/badge/">Badge</a>
                                </li>
                                <li>
                                    <a href="/components/breadcrumb/">Breadcrumb</a>
                                </li>
                                <li>
                                    <a href="/components/button/">Button</a>
                                </li>
                                <li>
                                    <a href="/components/card/">Card</a>
                                </li>
                                <li>
                                    <a href="/components/chart/">Chart</a>
                                </li>
                                <li>
                                    <a href="/components/checkbox/">Checkbox</a>
                                </li>
                                <li>
                                    <a href="/components/chip/">Chip</a>
                                </li>
                                <li>
                                    <a href="/components/color-picker/">Color Picker</a>
                                </li>
                                <li>
                                    <a href="/components/content-block/">Content Block</a>
                                </li>
                                <li>
                                    <a href="/components/data-table/">Data Table</a>
                                </li>
                                <li>
                                    <a href="/components/date-time-picker/">Date-Time Picker</a>
                                </li>
                                <li>
                                    <a href="/components/dialog/">Dialog</a>
                                </li>
                                <li>
                                    <a href="/components/dropcap/">Dropcap</a>
                                </li>
                                <li>
                                    <a href="/components/elevation/">Elevation</a>
                                </li>
                                <li>
                                    <a href="/components/embed/">Embed</a>
                                </li>
                                <li>
                                    <a href="/components/empty-state/">Empty State</a>
                                </li>
                                <li>
                                    <a href="/components/expandable-card/">Expandable Card</a>
                                </li>
                                <li>
                                    <a href="/components/flip-card/">Flip Card</a>
                                </li>
                                <li>
                                    <a href="/components/floating-action-button/">Floating Action Button</a>
                                </li>
                                <li>
                                    <a href="/components/form-input/">Form Input</a>
                                </li>
                                <li>
                                    <a href="/components/form-validator/">Form Validator</a>
                                </li>
                                <li>
                                    <a href="/components/gauge/">Gauge</a>
                                </li>
                                <li>
                                    <a href="/components/grid/">Grid</a>
                                </li>
                                <li>
                                    <a href="/components/icon/">Icon</a>
                                </li>
                                <li>
                                    <a href="/components/image/">Image</a>
                                </li>
                                <li>
                                    <a href="/components/image-compare/">Image Compare</a>
                                </li>
                                <li>
                                    <a href="/components/image-hotspot/">Image Hotspot</a>
                                </li>
                                <li>
                                    <a href="/components/infinite-scroll/">Infinite Scroll</a>
                                </li>
                                <li>
                                    <a href="/components/keypad/">Keypad</a>
                                </li>
                                <li>
                                    <a href="/components/line-divider/">Line Divider</a>
                                </li>
                                <li>
                                    <a href="/components/list-index/">List Index</a>
                                </li>
                                <li>
                                    <a href="/components/list-view/">List View</a>
                                </li>
                                <li>
                                    <a href="/components/marquee/">Marquee</a>
                                </li>
                                <li>
                                    <a href="/components/menu/">Menu</a>
                                </li>
                                <li>
                                    <a href="/components/menu-list/">Menu List</a>
                                </li>
                                <li>
                                    <a href="/components/navbar/">Navbar</a>
                                </li>
                                <li>
                                    <a href="/components/note/">Note</a>
                                </li>
                                <li>
                                    <a href="/components/notification/">Notification</a>
                                </li>
                                <li>
                                    <a href="/components/pagination/">Pagination</a>
                                </li>
                                <li>
                                    <a href="/components/photo-browser/">Photo Browser</a>
                                </li>
                                <li>
                                    <a href="/components/picker/">Picker</a>
                                </li>
                                <li>
                                    <a href="/components/popover/">Popover</a>
                                </li>
                                <li>
                                    <a href="/components/popup/">Popup</a>
                                </li>
                                <li>
                                    <a href="/components/preloader/">Preloader</a>
                                </li>
                                <li>
                                    <a href="/components/progress-bar/">Progress Bar</a>
                                </li>
                                <li>
                                    <a href="/components/pull-to-refresh/">Pull-to-Refresh</a>
                                </li>
                                <li>
                                    <a href="/components/quote/">Quote</a>
                                </li>
                                <li>
                                    <a href="/components/radio/">Radio</a>
                                </li>
                                <li>
                                    <a href="/components/range-slider/">Range Slider</a>
                                </li>
                                <li>
                                    <a href="/components/rating/">Rating</a>
                                </li>
                                <li>
                                    <a href="/components/ribbon/">Ribbon</a>
                                </li>
                                <li>
                                    <a href="/components/searchbar/">Searchbar</a>
                                </li>
                                <li>
                                    <a href="/components/sheet-modal/">Sheet Modal</a>
                                </li>
                                <li>
                                    <a href="/components/show-more-less/">Show More/Less</a>
                                </li>
                                <li>
                                    <a href="/components/side-panel/">Side Panel</a>
                                </li>
                                <li>
                                    <a href="/components/signature-pad/">Signature Pad</a>
                                </li>
                                <li>
                                    <a href="/components/skeleton/">Skeleton</a>
                                </li>
                                <li>
                                    <a href="/components/smart-select/">Smart Select</a>
                                </li>
                                <li>
                                    <a href="/components/sortable-list/">Sortable List</a>
                                </li>
                                <li>
                                    <a href="/components/stepper/">Stepper</a>
                                </li>
                                <li>
                                    <a href="/components/subnavbar/">Subnavbar</a>
                                </li>
                                <li>
                                    <a href="/components/swipeout/">Swipeout</a>
                                </li>
                                <li>
                                    <a href="/components/swiper-slider/">Swiper Slider</a>
                                </li>
                                <li>
                                    <a href="/components/syntax-highlighter/">Syntax Highlighter</a>
                                </li>
                                <li>
                                    <a href="/components/tab/">Tab</a>
                                </li>
                                <li>
                                    <a href="/components/text-editor/">Text Editor</a>
                                </li>
                                <li>
                                    <a href="/components/timeline/">Timeline</a>
                                </li>
                                <li>
                                    <a href="/components/timer/">Timer</a>
                                </li>
                                <li>
                                    <a href="/components/toast/">Toast</a>
                                </li>
                                <li>
                                    <a href="/components/toggle/">Toggle</a>
                                </li>
                                <li>
                                    <a href="/components/toolbar/">Toolbar</a>
                                </li>
                                <li>
                                    <a href="/components/tooltip/">Tooltip</a>
                                </li>
                                <li>
                                    <a href="/components/tour-guide/">Tour Guide</a>
                                </li>
                                <li>
                                    <a href="/components/tree-view/">Tree View</a>
                                </li>
                                <li>
                                    <a href="/components/video/">Video</a>
                                </li>
                                <li>
                                    <a href="/components/virtual-list/">Virtual List</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="searchbar-not-found">
                        <div class="empty-state empty-state-strong inset margin-vertical">
                            <div class="empty-state-media">
                                <span class="shape-container shape-auto bg-color-chrome">
                                    <i class="icon material-icons font-size-32">search_off</i>
                                </span>
                            </div>
                            <div class="empty-state-subtitle">No Search Results</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let searchbar = null;

        let initializeSearchbar = function() {
            let navbarEl = $f7.navbar.getElByPage($el.value);
            searchbar = $f7.searchbar.create({
                el: $(navbarEl).find('.searchbar'),
                searchContainer: $el.value.find('.list'),
                searchItem: 'li',
                searchIn: 'a',
                backdrop: false,
                removeDiacritics: true,
                on: {
                    enable: function(searchbar) {
                        searchbar.$el.find('input').focus();
                    }
                }
            });
            if ($f7route.query.search) {
                searchSearchbar($f7route.query.search);
            }
        }

        let enableSearchbar = function() {
            if (searchbar) {
                searchbar.enable();
            }
        }

        let disableSearchbar = function() {
            if (searchbar) {
                searchbar.disable();
            }
        }

        let searchSearchbar = function(query) {
            if (searchbar) {
                searchbar.search(query);
            }
        }

        $on('pageBeforeIn', function() {
            initializeSearchbar();
        });

        $on('pageBeforeRemove', function() {
            disableSearchbar();
        });

        $on('tabInit', function() {
            initializeSearchbar();
        });

        $on('tabBeforeRemove', function() {
            disableSearchbar();
        });

        return $render;
    }
</script>