<template>
    <div class="page">

        <div class="navbar navbar-transparent bg-color-blue color-white">
            <div class="navbar-bg bg-color-blue"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title text-color-white">Screens</div>
                <div class="right">
                    <a href="#" class="link icon-only" @click="${enableSearchbar}">
                        <i class="icon material-icons">search</i>
                    </a>
                </div>
                <form class="searchbar searchbar-expandable">
                    <div class="searchbar-inner">
                        <div class="searchbar-input-wrap">
                            <input type="search" placeholder="Search" />
                            <i class="searchbar-icon"></i>
                            <span class="input-clear-button"></span>
                        </div>
                        <span class="searchbar-disable-button if-not-aurora">Cancel</span>
                    </div>
                </form>
            </div>
        </div>

        <div class="page-content">

            <div class="block block-strong elevation-12 flexbox-centered height-auto no-hairlines no-margin bg-color-blue color-blue text-color-white" style="min-height: 256px;">
                <span class="shape-container shape-circle" style="background-color: var(--color-blue-700);">
                    <i class="icon f7-icons font-size-40 color-white">layers_alt_fill</i>
                </span>
                <div class="font-size-24 font-weight-bold margin-top-half">Screens</div>
                <div class="font-size-16 margin-top-half">Nectar provides ready-to-use screens built using various components.</div>
            </div>

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="searchbar-found">
                        <div class="list links-list inset margin-vertical">
                            <ul>
                                <li>
                                    <a href="/screens/404/">404</a>
                                </li>
                                <li>
                                    <a href="/screens/about/">About</a>
                                </li>
                                <li>
                                    <a href="/screens/activity-feed/">Activity Feed</a>
                                </li>
                                <li>
                                    <a href="/screens/articles-list/">Articles - List</a>
                                </li>
                                <li>
                                    <a href="/screens/articles-single/">Articles - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/businesses-list/">Businesses - List</a>
                                </li>
                                <li>
                                    <a href="/screens/businesses-single/">Businesses - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/careers/">Careers</a>
                                </li>
                                <li>
                                    <a href="/screens/cart/">Cart</a>
                                </li>
                                <li>
                                    <a href="/screens/chat/">Chat</a>
                                </li>
                                <li>
                                    <a href="/screens/checkout/">Checkout</a>
                                </li>
                                <li>
                                    <a href="/screens/coming-soon/">Coming Soon</a>
                                </li>
                                <li>
                                    <a href="/screens/contact/">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/screens/cookie-policy/">Cookie Policy</a>
                                </li>
                                <li>
                                    <a href="/screens/dashboard/">Dashboard</a>
                                </li>
                                <li>
                                    <a href="/screens/events-calendar/">Events - Calendar</a>
                                </li>
                                <li>
                                    <a href="/screens/events-list/">Events - List</a>
                                </li>
                                <li>
                                    <a href="/screens/events-single/">Events - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/faq/">FAQ</a>
                                </li>
                                <li>
                                    <a href="/screens/feedback/">Feedback</a>
                                </li>
                                <li>
                                    <a href="/screens/forgot-password/">Forgot Password?</a>
                                </li>
                                <li>
                                    <a href="/screens/home/">Home</a>
                                </li>
                                <li>
                                    <a href="/screens/invite-earn/">Invite & Earn</a>
                                </li>
                                <li>
                                    <a href="/screens/jobs-list/">Jobs - List</a>
                                </li>
                                <li>
                                    <a href="/screens/jobs-single/">Jobs - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/leaderboard/">Leaderboard</a>
                                </li>
                                <li>
                                    <a href="/screens/login/">Log In</a>
                                </li>
                                <li>
                                    <a href="/screens/notifications/">Notifications</a>
                                </li>
                                <li>
                                    <a href="/screens/poll/">Poll</a>
                                </li>
                                <li>
                                    <a href="/screens/pricing/">Pricing</a>
                                </li>
                                <li>
                                    <a href="/screens/privacy-policy/">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/screens/products-list/">Products - List</a>
                                </li>
                                <li>
                                    <a href="/screens/products-single/">Products - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/profile-setup/">Profile Setup</a>
                                </li>
                                <li>
                                    <a href="/screens/recipes-list/">Recipes - List</a>
                                </li>
                                <li>
                                    <a href="/screens/recipes-single/">Recipes - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/settings/">Settings</a>
                                </li>
                                <li>
                                    <a href="/screens/signup/">Sign Up</a>
                                </li>
                                <li>
                                    <a href="/screens/splash/">Splash</a>
                                </li>
                                <li>
                                    <a href="/screens/team/">Team</a>
                                </li>
                                <li>
                                    <a href="/screens/terms/">Terms</a>
                                </li>
                                <li>
                                    <a href="/screens/testimonials/">Testimonials</a>
                                </li>
                                <li>
                                    <a href="/screens/under-maintenance/">Under Maintenance</a>
                                </li>
                                <li>
                                    <a href="/screens/users-list/">Users - List</a>
                                </li>
                                <li>
                                    <a href="/screens/users-single/">Users - Single</a>
                                </li>
                                <li>
                                    <a href="/screens/verify-email/">Verify Email</a>
                                </li>
                                <li>
                                    <a href="/screens/verify-otp/">Verify OTP</a>
                                </li>
                                <li>
                                    <a href="/screens/walkthrough/">Walkthrough</a>
                                </li>
                                <li>
                                    <a href="/screens/wallet/">Wallet</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="searchbar-not-found">
                        <div class="empty-state empty-state-strong inset margin-vertical">
                            <div class="empty-state-media">
                                <span class="shape-container shape-auto bg-color-chrome">
                                    <i class="icon material-icons font-size-32">search_off</i>
                                </span>
                            </div>
                            <div class="empty-state-subtitle">No Search Results</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let searchbar = null;

        let initializeSearchbar = function() {
            let navbarEl = $f7.navbar.getElByPage($el.value);
            searchbar = $f7.searchbar.create({
                el: $(navbarEl).find('.searchbar'),
                searchContainer: $el.value.find('.list'),
                searchItem: 'li',
                searchIn: 'a',
                backdrop: false,
                removeDiacritics: true,
                on: {
                    enable: function(searchbar) {
                        searchbar.$el.find('input').focus();
                    }
                }
            });
            if ($f7route.query.search) {
                searchSearchbar($f7route.query.search);
            }
        }

        let enableSearchbar = function() {
            if (searchbar) {
                searchbar.enable();
            }
        }

        let disableSearchbar = function() {
            if (searchbar) {
                searchbar.disable();
            }
        }

        let searchSearchbar = function(query) {
            if (searchbar) {
                searchbar.search(query);
            }
        }

        $on('pageBeforeIn', function() {
            initializeSearchbar();
        });

        $on('pageBeforeRemove', function() {
            disableSearchbar();
        });

        $on('tabInit', function() {
            initializeSearchbar();
        });

        $on('tabBeforeRemove', function() {
            disableSearchbar();
        });

        return $render;
    }
</script>