<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">App Shortcuts API</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>App Shortcuts API allows installed web apps to provide the users with a context menu to open specific pages or perform specific tasks within the app.</p>
                        <p>The app shortcuts are defined in the web app manifest file.</p>
                    </div>

                    <div class="note note-outline inset margin-vertical color-blue">
                        <div class="note-media">
                            <i class="icon material-icons">info</i>
                        </div>
                        <div class="note-content">The app shortcuts context menu can be invoked by right-clicking the app icon in the taskbar (Windows) or dock (macOS) on the user's desktop, or long pressing the app's launcher icon on Android homescreen.</div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>