<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Network Information API</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Network Information API allows web apps to access information about the network connection in use by the device.</p>
                        <p>This can be used to serve high definition content or low definition content based on the network connection.</p>
                    </div>

                    ${isExploring ? $h`
                    ${connectionInfo ? $h`
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Connection Type</div>
                                        <div class="item-after">${connectionInfo.type}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Effective Connection Type</div>
                                        <div class="item-after">${connectionInfo.effectiveType}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Maximum Downlink Speed</div>
                                        <div class="item-after">${connectionInfo.maximumDownlinkSpeed}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Effective Downlink Speed</div>
                                        <div class="item-after">${connectionInfo.effectiveDownlinkSpeed}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Round-Trip Time (RTT)</div>
                                        <div class="item-after">${connectionInfo.roundTripTime}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Data Saver Mode</div>
                                        <div class="item-after">${connectionInfo.dataSaverMode}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="note note-outline inset margin-vertical color-blue">
                        <div class="note-media">
                            <i class="icon material-icons">info</i>
                        </div>
                        <div class="note-content">Try switching between Cellular and Wi-Fi network.</div>
                    </div>
                    ` : $h` `}
                    ` : $h`
                    ${$f7.support.webApi.networkInformation ? $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-smile font-size-64 color-green"></i>
                        </div>
                        <div class="empty-state-title">Yaay!</div>
                        <div class="empty-state-text">Network Information API is supported.</div>
                        <div class="empty-state-actions">
                            <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${explore}">Explore</button>
                        </div>
                    </div>
                    ` : $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-frown font-size-64 color-red"></i>
                        </div>
                        <div class="empty-state-title">Oops!</div>
                        <div class="empty-state-text">Network Information API is not supported.</div>
                        <div class="empty-state-actions">
                            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Network_Information_API#browser_compatibility" target="${$f7.getExternalUrlTarget()}" class="empty-state-action external button button-fill button-round color-mono text-color-mono-invert">Supported Browsers</a>
                        </div>
                    </div>
                    `}
                    `}

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let isExploring = false;

        let connection = null;
        let connectionInfo = null;

        let explore = function() {
            isExploring = true;
            $update(function() {
                initialize();
            });
        }

        let initialize = function() {
            try {
                connection = navigator.connection || navigator.webkitConnection || navigator.mozConnection || navigator.msConnection;
                if (connection) {
                    updateInfo();
                    addEventListeners();
                }
                else {
                    $f7.toast.show({
                        text: 'Could not initialize Network Information API.',
                        cssClass: 'color-red'
                    });
                }
            }
            catch(error) {
                $f7.toast.show({
                    text: error,
                    cssClass: 'color-red'
                });
            }
        }

        let addEventListeners = function() {
            connection.addEventListener('change', onChange);
        }

        let removeEventListeners = function() {
            connection.removeEventListener('change', onChange);
        }

        let updateInfo = function() {
            let connectionData = {};
            connectionData.type = connection.type != null ? connection.type : 'Not Available';
            connectionData.effectiveType = connection.effectiveType != null ? connection.effectiveType: 'Not Available';
            connectionData.maximumDownlinkSpeed = connection.downlinkMax != null ? connection.downlinkMax + ' Mbps' : 'Not Available';
            connectionData.effectiveDownlinkSpeed = connection.downlink != null ? connection.downlink + ' Mbps' : 'Not Available';
            connectionData.roundTripTime = connection.rtt != null ? connection.rtt + ' ms' : 'Not Available';
            connectionData.dataSaverMode = connection.saveData != null ? 'On' : 'Off';
            connectionInfo = connectionData;
            $update();
        }

        let onChange = function(event) {
            updateInfo();
        }

        $on('pageBeforeRemove', function() {
            if (connection) {
                removeEventListeners();
            }
        });

        return $render;
    }
</script>