<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Online & Offline Status API</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Online & Offline Status API allows web apps to detect whether the browser is online or offline.</p>
                    </div>

                    ${isExploring ? $h`
                    <div class="block block-strong inset margin-vertical text-align-center">
                        ${isOnline ? $h`
                        <i class="icon material-icons font-size-80 color-green">wifi_tethering</i>
                        <div class="font-size-20 font-weight-bold text-color-green">Online</div>
                        ` : $h`
                        <i class="icon material-icons font-size-80 color-red">portable_wifi_off</i>
                        <div class="font-size-20 font-weight-bold text-color-red">Offline</div>
                        `}
                    </div>
                    <div class="note note-outline inset margin-vertical color-blue">
                        <div class="note-media">
                            <i class="icon material-icons">info</i>
                        </div>
                        <div class="note-content">Try connecting and disconnecting the internet.</div>
                    </div>
                    ` : $h`
                    ${$f7.support.webApi.onlineOfflineStatus ? $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-smile font-size-64 color-green"></i>
                        </div>
                        <div class="empty-state-title">Yaay!</div>
                        <div class="empty-state-text">Online & Offline Status API is supported.</div>
                        <div class="empty-state-actions">
                            <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${explore}">Explore</button>
                        </div>
                    </div>
                    ` : $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-frown font-size-64 color-red"></i>
                        </div>
                        <div class="empty-state-title">Oops!</div>
                        <div class="empty-state-text">Online & Offline Status API is not supported.</div>
                        <div class="empty-state-actions">
                            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator/onLine#browser_compatibility" target="${$f7.getExternalUrlTarget()}" class="empty-state-action external button button-fill button-round color-mono text-color-mono-invert">Supported Browsers</a>
                        </div>
                    </div>
                    `}
                    `}

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let isExploring = false;

        let isOnline = null;

        let explore = function() {
            isExploring = true;
            $update(function() {
                initialize();
            });
        }

        let initialize = function() {
            isOnline = navigator.onLine;
            $update(function() {
                addEventListeners();
            });
        }

        let addEventListeners = function() {
            window.addEventListener('online', onOnline);
            window.addEventListener('offline', onOffline);
        }

        let removeEventListeners = function() {
            window.removeEventListener('online', onOnline);
            window.removeEventListener('offline', onOffline);
        }

        let onOnline = function(event) {
            isOnline = true;
            $update();
        }

        let onOffline = function(event) {
            isOnline = false;
            $update();
        }

        $on('pageBeforeRemove', function() {
            removeEventListeners();
        });

        return $render;
    }
</script>