<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Page Visibility API</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Page Visibility API allows web apps to know whether it is visible to the user or not.</p>
                        <p>It is especially useful for saving resources and improving performance by letting the app avoid performing unnecessary tasks when it is not visible.</p>
                    </div>

                    ${isExploring ? $h`
                    <div class="block block-strong inset margin-vertical">
                        <div class="responsive-container">
                            <video class="responsive-content shape-rounded-square" autoplay controls playsinline preload="metadata">
                                <source src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" type="video/mp4" />
                            </video>
                        </div>
                    </div>
                    <div class="note note-outline inset margin-vertical color-blue">
                        <div class="note-media">
                            <i class="icon material-icons">info</i>
                        </div>
                        <div class="note-content">Play the video and switch to another tab or minimize the app, the video will pause. On switching back, the video will resume.</div>
                    </div>
                    ` : $h`
                    ${$f7.support.webApi.pageVisibility ? $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-smile font-size-64 color-green"></i>
                        </div>
                        <div class="empty-state-title">Yaay!</div>
                        <div class="empty-state-text">Page Visibility API is supported.</div>
                        <div class="empty-state-actions">
                            <button type="button" class="empty-state-action button button-fill button-round color-mono text-color-mono-invert" @click="${explore}">Explore</button>
                        </div>
                    </div>
                    ` : $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-frown font-size-64 color-red"></i>
                        </div>
                        <div class="empty-state-title">Oops!</div>
                        <div class="empty-state-text">Page Visibility API is not supported.</div>
                        <div class="empty-state-actions">
                            <a href="https://developer.mozilla.org/en-US/docs/Web/API/Page_Visibility_API#browser_compatibility" target="${$f7.getExternalUrlTarget()}" class="empty-state-action external button button-fill button-round color-mono text-color-mono-invert">Supported Browsers</a>
                        </div>
                    </div>
                    `}
                    `}

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let isExploring = false;

        let hidden = null;
        let visibilityChange = null;
        let visibilityState = null;

        let video = null;

        let explore = function() {
            isExploring = true;
            $update(function() {
                initialize();
            });
        }

        let initialize = function() {
            if (typeof document.hidden !== 'undefined') {
                hidden = 'hidden';
                visibilityChange = 'visibilitychange';
                visibilityState = 'visibilityState';
            }
            else if (typeof document.webkitHidden !== 'undefined') {
                hidden = 'webkitHidden';
                visibilityChange = 'webkitvisibilitychange';
                visibilityState = 'webkitVisibilityState';
            }
            else if (typeof document.mozHidden !== 'undefined') {
                hidden = 'mozHidden';
                visibilityChange = 'mozvisibilitychange';
                visibilityState = 'mozVisibilityState';
            }
            else if (typeof document.msHidden !== 'undefined') {
                hidden = 'msHidden';
                visibilityChange = 'msvisibilitychange';
                visibilityState = 'msVisibilityState';
            }

            video = $el.value.find('video')[0];

            $update(function() {
                addEventListeners();
            });
        }

        let addEventListeners = function() {
            document.addEventListener(visibilityChange, onVisibilityChange);
        }

        let removeEventListeners = function() {
            document.removeEventListener(visibilityChange, onVisibilityChange);
        }

        let onVisibilityChange = function(event) {
            if (document[visibilityState] == 'hidden') {
                video.pause();
            }
            else {
                video.play();
            }
        }

        $on('pageBeforeRemove', function() {
            if (visibilityChange) {
                removeEventListeners();
            }
        });

        return $render;
    }
</script>