<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Button</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Button allows user to take actions and make choices with a single tap.</p>
                    </div>

                    <div class="block-title margin-vertical">Default</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-round">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Outline</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-outline">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-outline button-round">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Fill</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-fill">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fill button-round">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Fade</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-fade">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade button-round">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fade button-outline">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade button-outline button-round">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Raised</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-raised">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-raised button-round">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-outline button-raised">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-outline button-raised button-round">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fill button-raised">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fill button-raised button-round">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fade button-raised">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade button-raised button-round">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fade button-outline button-raised">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade button-outline button-raised button-round">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Segmented</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="segmented">
                            <button type="button" class="button button-outline button-active">Button</button>
                            <button type="button" class="button button-outline">Button</button>
                            <button type="button" class="button button-outline">Button</button>
                        </div>
                        <div class="segmented segmented-round margin-top">
                            <button type="button" class="button button-outline button-round">Button</button>
                            <button type="button" class="button button-outline button-round button-active">Button</button>
                            <button type="button" class="button button-outline button-round">Button</button>
                        </div>
                        <div class="segmented segmented-raised margin-top">
                            <button type="button" class="button">Button</button>
                            <button type="button" class="button">Button</button>
                            <button type="button" class="button button-active">Button</button>
                        </div>
                        <div class="segmented segmented-raised segmented-round margin-top">
                            <button type="button" class="button button-round button-active">Button</button>
                            <button type="button" class="button button-round">Button</button>
                            <button type="button" class="button button-round">Button</button>
                        </div>
                        <div class="segmented segmented-strong margin-top">
                            <a href="#" class="button">Button</a>
                            <a href="#" class="button button-active">Button</a>
                            <a href="#" class="button">Button</a>
                            <span class="segmented-highlight"></span>
                        </div>
                        <div class="segmented segmented-strong segmented-round margin-top">
                            <a href="#" class="button button-round">Button</a>
                            <a href="#" class="button button-round">Button</a>
                            <a href="#" class="button button-round button-active">Button</a>
                            <span class="segmented-highlight"></span>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Large</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-large button-outline">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-large button-fill">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-large button-fill button-raised">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-large button-raised">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Small</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-small button-fade">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-small button-outline">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-small button-fill">Button</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-small button-round button-fade">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-small button-round button-outline">Button</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-small button-round button-fill">Button</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Colored</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-fill color-red">Red</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fill button-round color-pink">Pink</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-outline color-purple">Purple</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-outline button-round color-deeppurple">Deep Purple</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fade color-purple">Indigo</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade button-round color-blue">Blue</button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fade button-outline color-lightblue">Light Blue</button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade button-outline button-round color-cyan">Cyan</button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Preloader</div>
                    <div class="block block-strong inset margin-vertical">
                        <button type="button" class="button button-fill button-large color-amber button-preloader ${isLoading ? 'button-loading' : ''}" @click="${load}">
                            <span class="preloader"></span>
                            <span>Load</span>
                        </button>
                    </div>

                    <div class="block-title margin-vertical">With Icon</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-fill color-cyan">
                                    <i class="icon material-icons">add_shopping_cart</i>
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fill button-round color-lightgreen">
                                    <i class="icon material-icons">post_add</i>
                                    <span>Create Post</span>
                                </button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-fade button-round color-lightgreen">
                                    <i class="icon material-icons">post_add</i>
                                    <span>Create Post</span>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-fade color-cyan">
                                    <i class="icon material-icons">add_shopping_cart</i>
                                    <span>Add to Cart</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Icon Only</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="row">
                            <div class="col">
                                <button type="button" class="button button-icon button-large color-red">
                                    <i class="icon material-icons">add</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-outline color-pink">
                                    <i class="icon material-icons">person_add</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-fill color-purple">
                                    <i class="icon material-icons">add_shopping_cart</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-raised color-indigo">
                                    <i class="icon material-icons">note_add</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-raised button-outline color-blue">
                                    <i class="icon material-icons">attach_file</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-raised button-fill color-cyan">
                                    <i class="icon material-icons">post_add</i>
                                </button>
                            </div>
                        </div>
                        <div class="row margin-top">
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-round color-teal">
                                    <i class="icon material-icons">add_a_photo</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-round button-outline color-lime">
                                    <i class="icon material-icons">playlist_add</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-round button-fill color-yellow">
                                    <i class="icon material-icons">insert_link</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-round button-raised color-amber">
                                    <i class="icon material-icons">add_comment</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-round button-raised button-outline color-orange">
                                    <i class="icon material-icons">add_location</i>
                                </button>
                            </div>
                            <div class="col">
                                <button type="button" class="button button-icon button-large button-round button-raised button-fill color-brown">
                                    <i class="icon material-icons">add_call</i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Social</div>
                    <div class="block block-strong inset margin-vertical">
                        <button type="button" class="button button-large button-fill button-social" style="--f7-button-bg-color: rgb(var(--f7-color-mono-rgb)); --f7-button-hover-bg-color: rgba(var(--f7-color-mono-rgb), 0.75); --f7-button-pressed-bg-color: rgba(var(--f7-color-mono-rgb), 0.875); --f7-button-text-color: rgb(var(--f7-color-mono-invert-rgb));">
                            <i class="icon fa-brands fa-apple"></i>
                            <span>Sign In with Apple</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-facebook)); --f7-button-hover-bg-color: rgba(var(--brand-color-facebook), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-facebook), 0.875);">
                            <i class="icon fa-brands fa-facebook-f"></i>
                            <span>Sign In with Facebook</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-github)); --f7-button-hover-bg-color: rgba(var(--brand-color-github), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-github), 0.875);">
                            <i class="icon fa-brands fa-github"></i>
                            <span>Sign In with GitHub</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-google)); --f7-button-hover-bg-color: rgba(var(--brand-color-google), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-google), 0.875);">
                            <i class="icon fa-brands fa-google"></i>
                            <span>Sign In with Google</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-linkedin)); --f7-button-hover-bg-color: rgba(var(--brand-color-linkedin), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-linkedin), 0.875);">
                            <i class="icon fa-brands fa-linkedin-in"></i>
                            <span>Sign In with LinkedIn</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-microsoft)); --f7-button-hover-bg-color: rgba(var(--brand-color-microsoft), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-microsoft), 0.875);">
                            <i class="icon fa-brands fa-windows"></i>
                            <span>Sign In with Microsoft</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-twitter)); --f7-button-hover-bg-color: rgba(var(--brand-color-twitter), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-twitter), 0.875);">
                            <i class="icon fa-brands fa-twitter"></i>
                            <span>Sign In with Twitter</span>
                        </button>
                        <button type="button" class="button button-large button-fill button-social margin-top" style="--f7-button-bg-color: rgb(var(--brand-color-yahoo)); --f7-button-hover-bg-color: rgba(var(--brand-color-yahoo), 0.75); --f7-button-pressed-bg-color: rgba(var(--brand-color-yahoo), 0.875);">
                            <i class="icon fa-brands fa-yahoo"></i>
                            <span>Sign In with Yahoo</span>
                        </button>
                    </div>
                    <div class="block block-strong inset margin-vertical">
                        <button type="button" class="button button-large button-outline button-round button-social" style="--f7-button-border-color: rgb(var(--f7-color-mono-rgb)); --f7-button-text-color: rgb(var(--f7-color-mono-rgb)); --f7-button-hover-bg-color: rgba(var(--f7-color-mono-rgb), 0.125); --f7-button-pressed-bg-color: rgba(var(--f7-color-mono-rgb), 0.25); --f7-touch-ripple-color: rgba(var(--f7-color-mono-rgb), 0.375);">
                            <i class="icon fa-brands fa-apple"></i>
                            <span>Sign In with Apple</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-facebook)); --f7-button-text-color: rgb(var(--brand-color-facebook)); --f7-button-hover-bg-color: rgba(var(--brand-color-facebook), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-facebook), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-facebook), 0.375);">
                            <img src="https://icon.horse/icon/facebook.com" alt="" />
                            <span>Sign In with Facebook</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-github)); --f7-button-text-color: rgb(var(--brand-color-github)); --f7-button-hover-bg-color: rgba(var(--brand-color-github), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-github), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-github), 0.375);">
                            <img src="https://cdn.svgporn.com/logos/github-icon.svg" alt="" />
                            <span>Sign In with GitHub</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-google)); --f7-button-text-color: rgb(var(--brand-color-google)); --f7-button-hover-bg-color: rgba(var(--brand-color-google), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-google), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-google), 0.375);">
                            <img src="https://cdn.svgporn.com/logos/google-icon.svg" alt="" />
                            <span>Sign In with Google</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-linkedin)); --f7-button-text-color: rgb(var(--brand-color-linkedin)); --f7-button-hover-bg-color: rgba(var(--brand-color-linkedin), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-linkedin), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-linkedin), 0.375);">
                            <img src="https://cdn.svgporn.com/logos/linkedin-icon.svg" alt="" />
                            <span>Sign In with LinkedIn</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-microsoft)); --f7-button-text-color: rgb(var(--brand-color-microsoft)); --f7-button-hover-bg-color: rgba(var(--brand-color-microsoft), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-microsoft), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-microsoft), 0.375);">
                            <img src="https://cdn.svgporn.com/logos/microsoft-windows.svg" alt="" />
                            <span>Sign In with Microsoft</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-twitter)); --f7-button-text-color: rgb(var(--brand-color-twitter)); --f7-button-hover-bg-color: rgba(var(--brand-color-twitter), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-twitter), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-twitter), 0.375);">
                            <img src="https://cdn.svgporn.com/logos/twitter.svg" alt="" />
                            <span>Sign In with Twitter</span>
                        </button>
                        <button type="button" class="button button-large button-outline button-round button-social margin-top" style="--f7-button-border-color: rgb(var(--brand-color-yahoo)); --f7-button-text-color: rgb(var(--brand-color-yahoo)); --f7-button-hover-bg-color: rgba(var(--brand-color-yahoo), 0.125); --f7-button-pressed-bg-color: rgba(var(--brand-color-yahoo), 0.25); --f7-touch-ripple-color: rgba(var(--brand-color-yahoo), 0.375);">
                            <img src="https://s.yimg.com/cv/apiv2/default/icons/favicon_y19_32x32_custom.svg" alt="" />
                            <span>Sign In with Yahoo</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let isLoading = false;

        let load = function() {
            isLoading = true;
            $update();
            setTimeout(function() {
                isLoading = false;
                $update();
            }, 5000);
        }

        return $render;
    }
</script>