<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Checkbox</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Checkbox allows the user to select multiple options from a set.</p>
                    </div>

                    <div class="block-title margin-vertical">Inline</div>
                    <div class="block block-strong inset margin-vertical">
                        <label class="checkbox checkbox-inline color-purple">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="violet" checked />
                            <i class="icon-checkbox"></i>
                            <span>Violet</span>
                        </label>
                        ${`\u0020`}
                        <label class="checkbox checkbox-inline color-indigo">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="indigo" />
                            <i class="icon-checkbox"></i>
                            <span>Indigo</span>
                        </label>
                        ${`\u0020`}
                        <label class="checkbox checkbox-inline color-blue">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="blue" checked />
                            <i class="icon-checkbox"></i>
                            <span>Blue</span>
                        </label>
                        ${`\u0020`}
                        <label class="checkbox checkbox-inline color-green">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="green" />
                            <i class="icon-checkbox"></i>
                            <span>Green</span>
                        </label>
                        ${`\u0020`}
                        <label class="checkbox checkbox-inline color-yellow">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="yellow" checked />
                            <i class="icon-checkbox"></i>
                            <span>Yellow</span>
                        </label>
                        ${`\u0020`}
                        <label class="checkbox checkbox-inline color-orange">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="orange" />
                            <i class="icon-checkbox"></i>
                            <span>Orange</span>
                        </label>
                        ${`\u0020`}
                        <label class="checkbox checkbox-inline color-red">
                            <input type="checkbox" name="checkbox-inline-vibgyor" value="red" checked />
                            <i class="icon-checkbox"></i>
                            <span>Red</span>
                        </label>
                    </div>

                    <div class="block-title margin-vertical">List</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <label class="item-content item-checkbox color-purple">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="violet" />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Violet</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-purple">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-indigo">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="indigo" checked />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Indigo</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-indigo">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-blue">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="blue" />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Blue</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-blue">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-green">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="green" checked />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Green</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-green">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-yellow">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="yellow" />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Yellow</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-yellow">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-orange">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="orange" checked />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Orange</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-orange">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-red">
                                    <input type="checkbox" name="checkbox-list-vibgyor" value="red" />
                                    <i class="icon icon-checkbox"></i>
                                    <div class="item-inner">
                                        <div class="item-title">Red</div>
                                        <div class="item-after">
                                            <i class="icon material-icons color-red">workspaces</i>
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">List (Fill)</div>
                    <div class="list cards-list checkbox-list checkbox-fill inset margin-vertical no-hairlines-between">
                        <ul>
                            <li>
                                <label class="item-content item-checkbox color-blue">
                                    <input type="checkbox" name="checkbox-list-fill-platform" value="web" checked />
                                    <div class="item-inner item-cell">
                                        <div class="item-row">
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-blue-100);">
                                                    <i class="icon f7-icons color-blue">globe</i>
                                                </span>
                                            </div>
                                            <div class="item-cell">Web</div>
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <i class="icon icon-checkbox"></i>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-green">
                                    <input type="checkbox" name="checkbox-list-fill-platform" value="android" />
                                    <div class="item-inner item-cell">
                                        <div class="item-row">
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-green-100);">
                                                    <i class="icon f7-icons color-green">logo_android</i>
                                                </span>
                                            </div>
                                            <div class="item-cell">Android</div>
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <i class="icon icon-checkbox"></i>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-bluegray">
                                    <input type="checkbox" name="checkbox-list-fill-platform" value="ios" checked />
                                    <div class="item-inner item-cell">
                                        <div class="item-row">
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-bluegray-100);">
                                                    <i class="icon f7-icons color-bluegray">logo_ios</i>
                                                </span>
                                            </div>
                                            <div class="item-cell">iOS</div>
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <i class="icon icon-checkbox"></i>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">List (Outline)</div>
                    <div class="list cards-list checkbox-list checkbox-outline inset margin-vertical no-hairlines-between">
                        <ul>
                            <li>
                                <label class="item-content item-checkbox color-blue">
                                    <input type="checkbox" name="checkbox-list-outline-platform" value="web" />
                                    <div class="item-inner item-cell">
                                        <div class="item-row">
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-blue-100);">
                                                    <i class="icon f7-icons color-blue">globe</i>
                                                </span>
                                            </div>
                                            <div class="item-cell">Web</div>
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <i class="icon icon-checkbox"></i>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-green">
                                    <input type="checkbox" name="checkbox-list-outline-platform" value="android" checked />
                                    <div class="item-inner item-cell">
                                        <div class="item-row">
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-green-100);">
                                                    <i class="icon f7-icons color-green">logo_android</i>
                                                </span>
                                            </div>
                                            <div class="item-cell">Android</div>
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <i class="icon icon-checkbox"></i>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li>
                                <label class="item-content item-checkbox color-bluegray">
                                    <input type="checkbox" name="checkbox-list-outline-platform" value="ios" />
                                    <div class="item-inner item-cell">
                                        <div class="item-row">
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-bluegray-100);">
                                                    <i class="icon f7-icons color-bluegray">logo_ios</i>
                                                </span>
                                            </div>
                                            <div class="item-cell">iOS</div>
                                            <div class="item-cell flex-shrink-0 width-auto">
                                                <i class="icon icon-checkbox"></i>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Media</div>
                    <div class="block block-strong inset margin-vertical padding-half text-align-center">
                        <label class="checkbox-media margin-half color-brown">
                            <input type="checkbox" name="checkbox-media-image" value="chair" checked />
                            <div class="checkbox-inner">
                                <img src="https://source.unsplash.com/CKLF34baCTQ/128x128" height="96" width="96" alt="" />
                            </div>
                        </label>
                        <label class="checkbox-media margin-half color-cyan">
                            <input type="checkbox" name="checkbox-media-image" value="shoes" />
                            <div class="checkbox-inner">
                                <img src="https://source.unsplash.com/kP6knT7tjn4/128x128" height="96" width="96" alt="" />
                            </div>
                        </label>
                        <label class="checkbox-media margin-half color-red">
                            <input type="checkbox" name="checkbox-media-image" value="gameboy" checked />
                            <div class="checkbox-inner">
                                <img src="https://source.unsplash.com/v8XaVfyo41Q/128x128" height="96" width="96" alt="" />
                            </div>
                        </label>
                    </div>
                    <div class="block block-strong inset margin-vertical padding-half text-align-center">
                        <label class="checkbox-media margin-half color-brown">
                            <input type="checkbox" name="checkbox-media-image-label" value="chair" />
                            <div class="checkbox-inner shape-circle">
                                <img src="https://source.unsplash.com/CKLF34baCTQ/128x128" height="96" width="96" alt="" />
                            </div>
                            <div class="checkbox-label">Chair</div>
                        </label>
                        <label class="checkbox-media margin-half color-cyan">
                            <input type="checkbox" name="checkbox-media-image-label" value="shoes" checked />
                            <div class="checkbox-inner shape-circle">
                                <img src="https://source.unsplash.com/kP6knT7tjn4/128x128" height="96" width="96" alt="" />
                            </div>
                            <div class="checkbox-label">Shoes</div>
                        </label>
                        <label class="checkbox-media margin-half color-red">
                            <input type="checkbox" name="checkbox-media-image-label" value="gameboy" />
                            <div class="checkbox-inner shape-circle">
                                <img src="https://source.unsplash.com/v8XaVfyo41Q/128x128" height="96" width="96" alt="" />
                            </div>
                            <div class="checkbox-label">Gameboy</div>
                        </label>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>