<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Form Input</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block-title margin-vertical">Stacked Label</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Inline Label</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Floating Label</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Outline Input</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-outline">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-outline inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-outline">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Item Info</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                            <div class="item-input-info">Enter your full name.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                            <div class="item-input-info">Enter your work email address.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-with-info inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                            <div class="item-input-info">Enter your full name.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-with-info inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                            <div class="item-input-info">Enter your work email address.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                            <div class="item-input-info">Enter your full name.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                            <div class="item-input-info">Enter your work email address.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                            <div class="item-input-info">Enter your full name.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                            <div class="item-input-info">Enter your work email address.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                            <div class="item-input-info">Enter your full name.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                            <div class="item-input-info">Enter your work email address.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Name</div>
                                        <div class="item-input-wrap">
                                            <input type="text" />
                                            <span class="input-clear-button"></span>
                                            <div class="item-input-info">Enter your full name.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">email</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Email</div>
                                        <div class="item-input-wrap">
                                            <input type="email" />
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon f7-icons">plus_circle_fill</i>
                                            </a>
                                            <div class="item-input-info">Enter your work email address.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Select Dropdown</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Gender</div>
                                        <div class="item-input-wrap input-dropdown-wrap">
                                            <select>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input inline-label">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Gender</div>
                                        <div class="item-input-wrap input-dropdown-wrap">
                                            <select>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Gender</div>
                                        <div class="item-input-wrap input-dropdown-wrap">
                                            <select>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline inline-label">
                                    <div class="item-inner">
                                        <div class="item-title item-label">Gender</div>
                                        <div class="item-input-wrap input-dropdown-wrap">
                                            <select>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline">
                                    <div class="item-media">
                                        <i class="icon material-icons">person</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Gender</div>
                                        <div class="item-input-wrap input-dropdown-wrap">
                                            <select>
                                                <option value="M">Male</option>
                                                <option value="F">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Textarea</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">info</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Bio</div>
                                        <div class="item-input-wrap">
                                            <textarea></textarea>
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon material-icons">content_paste</i>
                                            </a>
                                            <div class="item-input-info">Write about yourself.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-with-info inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">info</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Bio</div>
                                        <div class="item-input-wrap">
                                            <textarea></textarea>
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon material-icons">content_paste</i>
                                            </a>
                                            <div class="item-input-info">Write about yourself.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">info</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Bio</div>
                                        <div class="item-input-wrap">
                                            <textarea></textarea>
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon material-icons">content_paste</i>
                                            </a>
                                            <div class="item-input-info">Write about yourself.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">info</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Bio</div>
                                        <div class="item-input-wrap">
                                            <textarea></textarea>
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon material-icons">content_paste</i>
                                            </a>
                                            <div class="item-input-info">Write about yourself.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info inline-label">
                                    <div class="item-media">
                                        <i class="icon material-icons">info</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-label">Bio</div>
                                        <div class="item-input-wrap">
                                            <textarea></textarea>
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon material-icons">content_paste</i>
                                            </a>
                                            <div class="item-input-info">Write about yourself.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input item-input-outline item-input-with-info">
                                    <div class="item-media">
                                        <i class="icon material-icons">info</i>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title item-floating-label">Bio</div>
                                        <div class="item-input-wrap">
                                            <textarea></textarea>
                                            <span class="input-clear-button"></span>
                                            <a href="#" class="link">
                                                <i class="icon material-icons">content_paste</i>
                                            </a>
                                            <div class="item-input-info">Write about yourself.</div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>