<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Keypad</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Keypad can be used to create custom keyboard layouts.</p>
                    </div>

                    <div class="block-title margin-vertical">Numpad</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-input-wrap">
                                            <input id="keypad-numpad" type="text" inputmode="none" readonly />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Calculator</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-input-wrap">
                                            <input id="keypad-calculator" type="text" inputmode="none" readonly />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let keypadNumpad = null;
        let keypadCalculator = null;

        let initializeKeypadNumpad = function() {
            keypadNumpad = $f7.keypad.create({
                inputEl: $el.value.find('#keypad-numpad'),
                type: 'numpad',
                routableModals: false
            });
        }

        let initializeKeypadCalculator = function() {
            keypadCalculator = $f7.keypad.create({
                inputEl: $el.value.find('#keypad-calculator'),
                type: 'calculator',
                routableModals: false
            });
        }

        $on('pageBeforeIn', function() {
            initializeKeypadNumpad();
            initializeKeypadCalculator();
        });

        return $render;
    }
</script>