<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">List View</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>List View can be used to present data in a scrollable list of multiple rows that may be divided into groups or sections.</p>
                    </div>

                    <div class="block-title margin-vertical">Simple List</div>
                    <div class="list simple-list inset margin-vertical">
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Links List</div>
                    <div class="list links-list inset margin-vertical">
                        <ul>
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li>
                                <a href="#">Link 3</a>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Buttons List</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <a href="#" class="list-button">List Button 1</a>
                            </li>
                            <li>
                                <a href="#" class="list-button">List Button 2</a>
                            </li>
                            <li>
                                <a href="#" class="list-button">List Button 3</a>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">List Divider</div>
                    <div class="list simple-list inset margin-vertical">
                        <ul>
                            <li class="item-divider">Languages</li>
                            <li>Java</li>
                            <li>Python</li>
                            <li>Ruby</li>
                            <li class="item-divider">Operating Systems</li>
                            <li>Android</li>
                            <li>Linux</li>
                            <li>Windows</li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Grouped Lists with Sticky Titles</div>
                    <div class="list inset margin-vertical">
                        <div class="list-group">
                            <ul>
                                <li class="list-group-title">A</li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=1" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Aaron</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=2" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Abbie</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=3" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Adam</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-group">
                            <ul>
                                <li class="list-group-title">B</li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=4" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Bailey</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=5" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Benedict</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=6" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Brooks</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-group">
                            <ul>
                                <li class="list-group-title">C</li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=7" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Camilla</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=8" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Celia</div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-media">
                                            <img class="shape-circle" src="https://source.unsplash.com/random/64x64?face&r=9" loading="lazy" height="40" width="40" alt="" />
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">Colt</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="block-title margin-top">List Items</div>
                    <div class="block-header">With Icon, Image, Link, Header, Footer</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-auto" src="https://source.unsplash.com/random/64x64?face" loading="lazy" height="40" width="40" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">
                                            <div class="item-header">Name</div>
                                            <div>Glen Tremblay</div>
                                        </div>
                                        <div class="item-after">
                                            <span class="badge badge-round no-margin color-primary">Artist</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="tel:+1234567890" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <span class="shape-container shape-auto size-40 bg-color-blue">
                                                <i class="icon material-icons color-white">phone</i>
                                            </span>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">
                                                <div class="item-header">Phone</div>
                                                <div>+1-234567890</div>
                                                <div class="item-footer">Home</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="tel:+9876543210" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <span class="shape-container shape-auto size-40 bg-color-purple">
                                                <i class="icon material-icons color-white">phone</i>
                                            </span>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">
                                                <div class="item-header">Phone</div>
                                                <div>+9-876543210</div>
                                                <div class="item-footer">Work</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:info@example.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                    <div class="item-content">
                                        <div class="item-media">
                                            <span class="shape-container shape-auto size-40 bg-color-red">
                                                <i class="icon material-icons color-white">mail</i>
                                            </span>
                                        </div>
                                        <div class="item-inner">
                                            <div class="item-title">
                                                <div class="item-header">Email</div>
                                                <div>info@example.com</div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Nested List</div>
                    <div class="list inset margin-vertical no-hairlines no-hairlines-between">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="shape-container shape-auto size-40" style="background-color: var(--color-bluegray-50);">
                                            <i class="icon material-icons color-bluegray">notifications</i>
                                        </span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Notifications</div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-bluegray-50);">
                                                    <i class="icon material-icons color-bluegray">message</i>
                                                </span>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title">SMS</div>
                                                <div class="item-after">
                                                    <label class="toggle toggle-init color-bluegray">
                                                        <input type="checkbox" />
                                                        <span class="toggle-icon"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="item-content">
                                            <div class="item-media">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-bluegray-50);">
                                                    <i class="icon material-icons color-bluegray">mail</i>
                                                </span>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title">Email</div>
                                                <div class="item-after">
                                                    <label class="toggle toggle-init color-bluegray">
                                                        <input type="checkbox" checked />
                                                        <span class="toggle-icon"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="list inset margin-vertical no-hairlines no-hairlines-between">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="shape-container shape-auto size-40" style="background-color: var(--color-amber-50);">
                                            <i class="icon material-icons color-amber">brightness_4</i>
                                        </span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">Theme</div>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <label class="item-content item-radio item-radio-icon-end">
                                            <input type="radio" name="theme" value="light" checked />
                                            <i class="icon icon-radio color-amber"></i>
                                            <div class="item-media">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-amber-50);">
                                                    <i class="icon material-icons color-amber">light_mode</i>
                                                </span>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title">Light</div>
                                            </div>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="item-content item-radio item-radio-icon-end">
                                            <input type="radio" name="theme" value="dark" />
                                            <i class="icon icon-radio color-amber"></i>
                                            <div class="item-media">
                                                <span class="shape-container shape-auto size-40" style="background-color: var(--color-amber-50);">
                                                    <i class="icon material-icons color-amber">dark_mode</i>
                                                </span>
                                            </div>
                                            <div class="item-inner">
                                                <div class="item-title">Dark</div>
                                            </div>
                                        </label>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Media List</div>
                    <div class="list media-list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?shoes" loading="lazy" height="96" width="96" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Nike Air Jordan</div>
                                        </div>
                                        <div class="item-subtitle margin-vertical-half">
                                            <span class="badge badge-fade badge-round no-margin color-blue">Footwear</span>
                                        </div>
                                        <div class="item-text">When you're confident and feeling good, the game is light work.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?watch" loading="lazy" height="96" width="96" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Garmin Vivoactive Element</div>
                                        </div>
                                        <div class="item-subtitle margin-vertical-half">
                                            <span class="badge badge-fade badge-round no-margin color-pink">Smartwatch</span>
                                        </div>
                                        <div class="item-text">It's the ultimate device for a healthy life.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?furniture" loading="lazy" height="96" width="96" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Ikea Klipsik</div>
                                        </div>
                                        <div class="item-subtitle margin-vertical-half">
                                            <span class="badge badge-fade badge-round no-margin color-green">Furniture</span>
                                        </div>
                                        <div class="item-text">Unbox the true potential of your home.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Cards List</div>
                    <div class="list cards-list media-list inset margin-vertical no-hairlines-between">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-rounded-square elevation-24" src="https://source.unsplash.com/random/150x220?book&r=1" loading="lazy" height="140" width="96" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">${faker.animal.bird()}</div>
                                        </div>
                                        <div class="item-subtitle margin-vertical-half">
                                            <span class="badge badge-round no-margin color-blue">${faker.music.genre()}</span>
                                        </div>
                                        <div class="item-text">${faker.lorem.sentences(3)}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-rounded-square elevation-24" src="https://source.unsplash.com/random/150x220?book&r=2" loading="lazy" height="140" width="96" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">${faker.animal.cetacean()}</div>
                                        </div>
                                        <div class="item-subtitle margin-vertical-half">
                                            <span class="badge badge-round no-margin color-pink">${faker.music.genre()}</span>
                                        </div>
                                        <div class="item-text">${faker.lorem.sentences(3)}</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <img class="shape-rounded-square elevation-24" src="https://source.unsplash.com/random/150x220?book&r=3" loading="lazy" height="140" width="96" alt="" />
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">${faker.animal.crocodilia()}</div>
                                        </div>
                                        <div class="item-subtitle margin-vertical-half">
                                            <span class="badge badge-round no-margin color-green">${faker.music.genre()}</span>
                                        </div>
                                        <div class="item-text">${faker.lorem.sentences(3)}</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Custom Layout</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner item-cell">
                                        <div class="item-row" style="color: var(--color-blue-900);">
                                            <div class="item-cell no-margin padding" style="background-color: var(--color-blue-100);">Cell 1-1</div>
                                            <div class="item-cell no-margin padding" style="background-color: var(--color-blue-50);">Cell 1-2</div>
                                            <div class="item-cell no-margin padding" style="background-color: var(--color-blue-100);">Cell 1-3</div>
                                        </div>
                                        <div class="item-row" style="color: var(--color-amber-900);">
                                            <div class="item-cell no-margin padding" style="background-color: var(--color-amber-100);">Cell 2-1</div>
                                            <div class="item-cell no-margin padding" style="background-color: var(--color-amber-50);">Cell 2-2</div>
                                        </div>
                                        <div class="item-row" style="color: var(--color-pink-900);">
                                            <div class="item-cell align-self-stretch no-margin padding" style="background-color: var(--color-pink-100);">Cell 3-1</div>
                                            <div class="item-cell no-margin padding" style="background-color: var(--color-pink-50);">
                                                <div class="item-row">
                                                    <div class="item-cell no-margin padding" style="background-color: var(--color-pink-200);">Cell 3-2</div>
                                                </div>
                                                <div class="item-row">
                                                    <div class="item-cell no-margin padding" style="background-color: var(--color-pink-300);">Cell 3-3</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>