<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Marquee</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Marquee can be used to scroll content either horizontally or vertically.</p>
                    </div>

                    <div class="block-title margin-vertical">Left Direction</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="marquee marquee-init" data-direction="left">
                            <div>There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="marquee marquee-init" data-direction="left">
                            <span class="chip color-red">Red</span>
                            <span class="chip color-pink">Pink</span>
                            <span class="chip color-purple">Purple</span>
                            <span class="chip color-deeppurple">Deep Purple</span>
                            <span class="chip color-indigo">Indigo</span>
                            <span class="chip color-blue">Blue</span>
                            <span class="chip color-lightblue">Light Blue</span>
                            <span class="chip color-cyan">Cyan</span>
                            <span class="chip color-teal">Teal</span>
                            <span class="chip color-green">Green</span>
                            <span class="chip color-lightgreen">Light Green</span>
                            <span class="chip color-lime">Lime</span>
                            <span class="chip color-yellow">Yellow</span>
                            <span class="chip color-amber">Amber</span>
                            <span class="chip color-orange">Orange</span>
                            <span class="chip color-deeporange">Deep Orange</span>
                            <span class="chip color-brown">Brown</span>
                            <span class="chip color-gray">Gray</span>
                            <span class="chip color-bluegray">Blue Gray</span>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Right Direction</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="marquee marquee-init" data-direction="right">
                            <div>There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="marquee marquee-init" data-direction="right">
                            <span class="chip color-red">Red</span>
                            <span class="chip color-pink">Pink</span>
                            <span class="chip color-purple">Purple</span>
                            <span class="chip color-deeppurple">Deep Purple</span>
                            <span class="chip color-indigo">Indigo</span>
                            <span class="chip color-blue">Blue</span>
                            <span class="chip color-lightblue">Light Blue</span>
                            <span class="chip color-cyan">Cyan</span>
                            <span class="chip color-teal">Teal</span>
                            <span class="chip color-green">Green</span>
                            <span class="chip color-lightgreen">Light Green</span>
                            <span class="chip color-lime">Lime</span>
                            <span class="chip color-yellow">Yellow</span>
                            <span class="chip color-amber">Amber</span>
                            <span class="chip color-orange">Orange</span>
                            <span class="chip color-deeporange">Deep Orange</span>
                            <span class="chip color-brown">Brown</span>
                            <span class="chip color-gray">Gray</span>
                            <span class="chip color-bluegray">Blue Gray</span>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Up Direction</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="marquee marquee-init" data-direction="up" style="height: 128px;">
                            <div>Fusce faucibus accumsan neque a maximus. Aenean commodo nunc nec massa sollicitudin posuere. Donec fermentum eget metus in tincidunt. Sed ut nisi sit amet justo placerat molestie eget id nunc. Phasellus eget odio sed dolor laoreet imperdiet et eget justo. Nam malesuada dapibus arcu sit amet ullamcorper. Proin in quam velit. Aliquam tempus ex lacus, vel congue elit cursus rutrum. Ut et bibendum justo. Morbi lobortis molestie neque, in dictum sapien volutpat eu. Integer non odio laoreet, euismod nisi in, eleifend libero. Nunc ex tellus, luctus a porttitor tincidunt, fermentum vitae felis. Aenean sit amet congue justo. Donec ultrices lacinia.</div>
                        </div>
                    </div>
                    <div class="card margin-vertical no-shadow">
                        <div class="card-header">Latest News</div>
                        <div class="card-content">
                            <div class="marquee marquee-init" data-delayBeforeStart="2500" data-direction="up" data-duplicated="true" data-gap="0" data-startVisible="true" style="height: 256px;">
                                <div class="list media-list inset">
                                    <ul>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?building" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Etiam tempus consequat purus eu.</div>
                                                        </div>
                                                        <div class="item-text">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ullamcorper laoreet ipsum sit amet mattis. Proin faucibus nisl velit, a.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?furniture" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Pellentesque habitant morbi tristique senectus.</div>
                                                        </div>
                                                        <div class="item-text">In ac nunc et velit mollis vestibulum. Donec orci risus, semper vel justo sed, consectetur facilisis orci. Cras rutrum eget orci nec tempor. Donec in.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?abstract" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Nunc nec gravida felis vivamus.</div>
                                                        </div>
                                                        <div class="item-text">Pellentesque vitae tempus augue. In lobortis commodo neque. Duis tristique euismod eros, vitae maximus turpis pulvinar sit amet. Duis ultrices nisl quis ex tincidunt, quis.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?fruit" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">In hac habitasse platea dictumst.</div>
                                                        </div>
                                                        <div class="item-text">Sed bibendum ornare nisi, rutrum posuere elit rutrum sed. Proin auctor magna ac gravida dapibus. Proin scelerisque nec risus ac aliquam. Duis quis condimentum risus.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?shoes" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Fusce mattis nulla interdum risus.</div>
                                                        </div>
                                                        <div class="item-text">Vivamus quis nisl aliquam, efficitur nisi ut, dictum lorem. Morbi eget enim ullamcorper, ornare est non, pretium dui. Nulla ac elit vulputate, iaculis eros a.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-flex-start">Made with <i class="icon material-icons font-size-20 margin-horizontal-half text-gradient-red">favorite</i> in India</div>
                    </div>

                    <div class="block-title margin-vertical">Down Direction</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="marquee marquee-init" data-direction="down" style="height: 128px;">
                            <div>Fusce faucibus accumsan neque a maximus. Aenean commodo nunc nec massa sollicitudin posuere. Donec fermentum eget metus in tincidunt. Sed ut nisi sit amet justo placerat molestie eget id nunc. Phasellus eget odio sed dolor laoreet imperdiet et eget justo. Nam malesuada dapibus arcu sit amet ullamcorper. Proin in quam velit. Aliquam tempus ex lacus, vel congue elit cursus rutrum. Ut et bibendum justo. Morbi lobortis molestie neque, in dictum sapien volutpat eu. Integer non odio laoreet, euismod nisi in, eleifend libero. Nunc ex tellus, luctus a porttitor tincidunt, fermentum vitae felis. Aenean sit amet congue justo. Donec ultrices lacinia.</div>
                        </div>
                    </div>
                    <div class="card margin-vertical no-shadow">
                        <div class="card-header">Latest News</div>
                        <div class="card-content">
                            <div class="marquee marquee-init" data-delayBeforeStart="2500" data-direction="down" data-duplicated="true" data-gap="0" data-startVisible="true" style="height: 256px;">
                                <div class="list media-list inset">
                                    <ul>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?building" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Etiam tempus consequat purus eu.</div>
                                                        </div>
                                                        <div class="item-text">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas ullamcorper laoreet ipsum sit amet mattis. Proin faucibus nisl velit, a.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?furniture" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Pellentesque habitant morbi tristique senectus.</div>
                                                        </div>
                                                        <div class="item-text">In ac nunc et velit mollis vestibulum. Donec orci risus, semper vel justo sed, consectetur facilisis orci. Cras rutrum eget orci nec tempor. Donec in.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?abstract" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Nunc nec gravida felis vivamus.</div>
                                                        </div>
                                                        <div class="item-text">Pellentesque vitae tempus augue. In lobortis commodo neque. Duis tristique euismod eros, vitae maximus turpis pulvinar sit amet. Duis ultrices nisl quis ex tincidunt, quis.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?fruit" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">In hac habitasse platea dictumst.</div>
                                                        </div>
                                                        <div class="item-text">Sed bibendum ornare nisi, rutrum posuere elit rutrum sed. Proin auctor magna ac gravida dapibus. Proin scelerisque nec risus ac aliquam. Duis quis condimentum risus.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://news.google.com" target="${$f7.getExternalUrlTarget()}" class="item-link external">
                                                <div class="item-content">
                                                    <div class="item-media">
                                                        <img class="shape-rounded-square" src="https://source.unsplash.com/random/128x128?shoes" loading="lazy" height="88" width="88" alt="" />
                                                    </div>
                                                    <div class="item-inner">
                                                        <div class="item-title-row">
                                                            <div class="item-title">Fusce mattis nulla interdum risus.</div>
                                                        </div>
                                                        <div class="item-text">Vivamus quis nisl aliquam, efficitur nisi ut, dictum lorem. Morbi eget enim ullamcorper, ornare est non, pretium dui. Nulla ac elit vulputate, iaculis eros a.</div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer justify-content-flex-start">Made with <i class="icon material-icons font-size-20 margin-horizontal-half text-gradient-red">favorite</i> in India</div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>