<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Navbar</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Navbar is a header container that can be used for brand logo, page title, navigation links, and other actions.</p>
                    </div>

                    <div class="list links-list inset margin-vertical">
                        <ul>
                            <li>
                                <a href="/components/navbar/static/">Static Navbar</a>
                            </li>
                            <li>
                                <a href="/components/navbar/fixed/">Fixed Navbar</a>
                            </li>
                            <li>
                                <a href="/components/navbar/hide-on-scroll/">Hide Navbar on Scroll</a>
                            </li>
                            <li>
                                <a href="/components/navbar/transparent/">Transparent Navbar</a>
                            </li>
                            <li>
                                <a href="/components/navbar/large-title/">Navbar with Large Title</a>
                            </li>
                            <li>
                                <a href="/components/navbar/transparent-large-title/">Transparent Navbar with Large Title</a>
                            </li>
                            <li>
                                <a href="/components/navbar/subtitle/">Navbar with Subtitle</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>