<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Note</div>
            </div>
        </div>

        <div class="page-content">

            <div class="note no-margin-vertical sticky sticky-top">
                <div class="note-media">
                    <img class="shape-round if-not-dark" src="${$f7.config.app.logos.logomarkLight}" alt="" />
                    <img class="shape-round if-dark" src="${$f7.config.app.logos.logomarkDark}" alt="" />
                </div>
                <div class="note-content">
                    <div class="note-title">${$f7.config.app.title} - ${$f7.config.app.tagline}</div>
                    <div class="note-message">${$f7.config.app.description}</div>
                </div>
                <a href="#" class="note-close link"></a>
            </div>

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Note can be used to show actionable inline messages.</p>
                    </div>

                    <div class="block-title margin-vertical">Default</div>
                    <div class="note inset">
                        <div class="note-media">
                            <i class="icon material-icons">favorite</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <a href="#" class="note-close link"></a>
                    </div>
                    <div class="note inset color-red">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note inset color-green">
                        <div class="note-media">
                            <i class="icon material-icons">spa</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note inset color-blue">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <div class="note-actions">
                            <a href="#" class="note-action button button-fill button-round button-small">Explore</a>
                        </div>
                    </div>
                    <div class="note inset color-orange">
                        <div class="note-content">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                    </div>

                    <div class="block-title margin-vertical">Outline</div>
                    <div class="note note-outline inset">
                        <div class="note-media">
                            <i class="icon material-icons">favorite</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <a href="#" class="note-close link"></a>
                    </div>
                    <div class="note note-outline inset color-red">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note note-outline inset color-green">
                        <div class="note-media">
                            <i class="icon material-icons">spa</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note note-outline inset color-blue">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <div class="note-actions">
                            <a href="#" class="note-action button button-fill button-round button-small">Explore</a>
                        </div>
                    </div>
                    <div class="note note-outline inset color-amber">
                        <div class="note-content">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                    </div>

                    <div class="block-title margin-vertical">Fade</div>
                    <div class="note note-fade inset color-gray">
                        <div class="note-media">
                            <i class="icon material-icons">favorite</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <a href="#" class="note-close link"></a>
                    </div>
                    <div class="note note-fade inset color-red">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note note-fade inset color-green">
                        <div class="note-media">
                            <i class="icon material-icons">spa</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note note-fade inset color-blue">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <div class="note-actions">
                            <a href="#" class="note-action button button-fill button-round button-small">Explore</a>
                        </div>
                    </div>
                    <div class="note note-fade inset color-amber">
                        <div class="note-content">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                    </div>

                    <div class="block-title margin-vertical">Fill</div>
                    <div class="note note-fill inset color-gray">
                        <div class="note-media">
                            <i class="icon material-icons">favorite</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <a href="#" class="note-close link"></a>
                    </div>
                    <div class="note note-fill inset color-red">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note note-fill inset color-green">
                        <div class="note-media">
                            <i class="icon material-icons">spa</i>
                        </div>
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                    </div>
                    <div class="note note-fill inset color-blue">
                        <div class="note-content">
                            <div class="note-title">Hello World</div>
                            <div class="note-message">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                        </div>
                        <div class="note-actions">
                            <a href="#" class="note-action button button-fill button-round button-small color-white text-color-blue">Explore</a>
                        </div>
                    </div>
                    <div class="note note-fill inset color-amber">
                        <div class="note-content">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                    </div>

                    <div class="block block-strong inset margin-vertical">
                        <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <div class="note">
                            <div class="note-media">
                                <i class="icon material-icons">lock</i>
                            </div>
                            <div class="note-content">
                                <div class="note-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                <div class="note-actions">
                                    <button type="button" class="note-action button button-fill button-round button-small width-auto color-mono text-color-mono-invert">Free Trial</button>
                                    <button type="button" class="note-action button button-fill button-round button-small width-auto color-mono text-color-mono-invert">Buy Subscription</button>
                                </div>
                            </div>
                        </div>
                        <p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <div class="note color-green">
                            <div class="note-media">
                                <i class="icon material-icons">check_circle</i>
                            </div>
                            <div class="note-content">Donec mollis, nunc in porta mattis, tellus erat porta eros, in sodales lectus leo vitae ex.</div>
                            <a href="#" class="note-close link"></a>
                        </div>
                        <p>Corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        <div class="note color-blue">
                            <div class="note-media">
                                <i class="icon material-icons">info</i>
                            </div>
                            <div class="note-content">Etiam pretium magna justo, rutrum egestas tellus varius et.</div>
                            <a href="#" class="note-close link"></a>
                        </div>
                        <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
                        <div class="note color-amber">
                            <div class="note-media">
                                <i class="icon material-icons">warning</i>
                            </div>
                            <div class="note-content">Duis id augue nulla. Nunc cursus, ipsum sit amet sollicitudin commodo, orci ante gravida risus, et ultricies purus sapien id orci.</div>
                            <a href="#" class="note-close link"></a>
                        </div>
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur.</p>
                        <div class="note color-red">
                            <div class="note-media">
                                <i class="icon material-icons">error</i>
                            </div>
                            <div class="note-content">Proin id pretium orci, ut condimentum felis.</div>
                            <a href="#" class="note-close link"></a>
                        </div>
                        <p>Recusandae officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                    </div>

                </div>
            </div>

            <div class="note note-fill color-pink no-margin-vertical sticky sticky-bottom">
                <div class="note-media">
                    <i class="icon material-icons">local_mall</i>
                </div>
                <div class="note-content">Bring your product to life with Nectar.</div>
                <div class="note-actions">
                    <a href="${$f7.config.app.themeforestUrl}" target="${$f7.getExternalUrlTarget()}" class="note-action button button-fill button-round button-small color-white text-color-pink external">Buy Now</a>
                </div>
                <a href="#" class="note-close link"></a>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>