<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Preloader</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Preloader can be used to indicate the progress of an operation using a spinner.</p>
                    </div>

                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Default</div>
                                        <div class="item-after">
                                            <div class="preloader"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Colored</div>
                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Red</div>
                                        <div class="item-after">
                                            <div class="preloader color-red"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Pink</div>
                                        <div class="item-after">
                                            <div class="preloader color-pink"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Purple</div>
                                        <div class="item-after">
                                            <div class="preloader color-purple"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Deep Purple</div>
                                        <div class="item-after">
                                            <div class="preloader color-deeppurple"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Indigo</div>
                                        <div class="item-after">
                                            <div class="preloader color-indigo"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Blue</div>
                                        <div class="item-after">
                                            <div class="preloader color-blue"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Light Blue</div>
                                        <div class="item-after">
                                            <div class="preloader color-lightblue"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Cyan</div>
                                        <div class="item-after">
                                            <div class="preloader color-cyan"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Teal</div>
                                        <div class="item-after">
                                            <div class="preloader color-teal"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Green</div>
                                        <div class="item-after">
                                            <div class="preloader color-green"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Light Green</div>
                                        <div class="item-after">
                                            <div class="preloader color-lightgreen"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Lime</div>
                                        <div class="item-after">
                                            <div class="preloader color-lime"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Yellow</div>
                                        <div class="item-after">
                                            <div class="preloader color-yellow"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Amber</div>
                                        <div class="item-after">
                                            <div class="preloader color-amber"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Orange</div>
                                        <div class="item-after">
                                            <div class="preloader color-orange"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Deep Orange</div>
                                        <div class="item-after">
                                            <div class="preloader color-deeporange"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Brown</div>
                                        <div class="item-after">
                                            <div class="preloader color-brown"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Gray</div>
                                        <div class="item-after">
                                            <div class="preloader color-gray"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Blue Gray</div>
                                        <div class="item-after">
                                            <div class="preloader color-bluegray"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Monochrome</div>
                                        <div class="item-after">
                                            <div class="preloader color-mono"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-inner">
                                        <div class="item-title">Multicolor</div>
                                        <div class="item-after">
                                            <div class="preloader color-multi"></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="block block-strong inset margin-vertical">
                        <button type="button" class="button button-fill" @click="${showOverlayPreloader}">Overlay Preloader</button>
                    </div>

                    <div id="block-random-text" class="block block-strong inset margin-vertical">
                        <p>${randomText}</p>
                        <button type="button" class="button button-fill" @click="${generateRandomText}">Generate Random Text</button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let randomText = faker.lorem.paragraph(10);

        let showOverlayPreloader = function() {
            $f7.preloader.show();
            setTimeout(function() {
                $f7.preloader.hide();
            }, 3000);
        }

        let generateRandomText = function() {
            let el = $el.value.find('#block-random-text');
            $f7.preloader.showIn(el);
            setTimeout(function() {
                randomText = faker.lorem.paragraph(10);
                $update(function() {
                    $f7.preloader.hideIn(el);
                });
            }, 3000);
        }

        return $render;
    }
</script>