<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Quote</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Quote can be used to display a quotation either from a person or source; or to emphasize an excerpt from the main content.</p>
                    </div>

                    <div class="block-title margin-vertical">Inline Quote</div>
                    <div class="block block-strong inset margin-vertical">
                        <p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q> We hope they succeed.</p>
                    </div>

                    <div class="block-title margin-vertical">Block Quote</div>
                    <blockquote class="quote inset">
                        <div class="quote-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="quote-cite">
                            <div class="cite-title">Lorem Ipsum</div>
                            <div class="cite-subtitle">A Placeholder Text</div>
                        </div>
                    </blockquote>
                    <div class="block margin-vertical">
                        <blockquote class="quote border-horizontal color-blue">
                            <div class="quote-text">To love oneself is the beginning of a lifelong romance.</div>
                            <div class="quote-cite">
                                <div class="cite-title">Oscar Wilde</div>
                                <div class="cite-subtitle">Poet</div>
                            </div>
                        </blockquote>
                    </div>
                    <div class="block block-strong inset margin-vertical">
                        <blockquote class="quote border-vertical color-pink">
                            <div class="quote-text">Life is like a box of chocolates. You never know what you’re going to get.</div>
                            <div class="quote-cite">
                                <div class="cite-title">Forrest Gump</div>
                            </div>
                        </blockquote>
                    </div>

                    <div class="block-title margin-vertical">Pull Quote</div>
                    <blockquote class="quote pull-quote inset">
                        <div class="quote-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="quote-cite">
                            <div class="cite-title">Lorem Ipsum</div>
                            <div class="cite-subtitle">A Placeholder Text</div>
                        </div>
                    </blockquote>

                    <div class="block block-strong inset margin-vertical">
                        <p>${faker.lorem.sentences(5)}</p>
                        <blockquote class="quote pull-quote border-horizontal color-amber">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</blockquote>
                        <p>${faker.lorem.sentences(7)}</p>
                        <blockquote class="quote pull-quote border-outline">
                            <div class="quote-text">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</div>
                            <div class="quote-cite">
                                <div class="cite-title">Lorem Ipsum</div>
                                <div class="cite-subtitle">A Placeholder Text</div>
                            </div>
                        </blockquote>
                        <p>${faker.lorem.sentences(7)}</p>
                        <blockquote class="quote pull-quote border-vertical color-teal">There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain.</blockquote>
                        <p>${faker.lorem.sentences(5)}</p>
                    </div>

                    <div class="block-title margin-vertical">Fade</div>
                    <blockquote class="quote quote-fade inset color-gray">
                        <div class="quote-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="quote-cite">
                            <div class="cite-title">Lorem Ipsum</div>
                            <div class="cite-subtitle">A Placeholder Text</div>
                        </div>
                    </blockquote>
                    <div class="block block-strong inset margin-vertical">
                        <blockquote class="quote quote-fade border-vertical color-purple">
                            <div class="quote-text">He that falls in love with himself will have no rivals.</div>
                            <div class="quote-cite">
                                <div class="cite-title">Benjamin Franklin</div>
                            </div>
                        </blockquote>
                    </div>
                    <blockquote class="quote quote-fade pull-quote inset color-orange">
                        <div class="quote-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="quote-cite">
                            <div class="cite-title">Lorem Ipsum</div>
                            <div class="cite-subtitle">A Placeholder Text</div>
                        </div>
                    </blockquote>

                    <div class="block-title margin-vertical">Fill</div>
                    <blockquote class="quote quote-fill border-top inset color-pink">
                        <div class="quote-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="quote-cite">
                            <div class="cite-title">Lorem Ipsum</div>
                            <div class="cite-subtitle">A Placeholder Text</div>
                        </div>
                    </blockquote>
                    <div class="block block-strong inset margin-vertical">
                        <blockquote class="quote quote-fill border-vertical color-purple">
                            <div class="quote-text">He that falls in love with himself will have no rivals.</div>
                            <div class="quote-cite">
                                <div class="cite-title">Benjamin Franklin</div>
                            </div>
                        </blockquote>
                    </div>
                    <blockquote class="quote quote-fill pull-quote border-horizontal inset color-green">
                        <div class="quote-text">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="quote-cite">
                            <div class="cite-title">Lorem Ipsum</div>
                            <div class="cite-subtitle">A Placeholder Text</div>
                        </div>
                    </blockquote>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>