<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Ribbon</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block-title margin-vertical">Position</div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-left-top color-random">Left-Top</div>
                        <div class="ribbon ribbon-right-top color-random">Right-Top</div>
                        <div class="ribbon ribbon-right-bottom color-random">Right-Bottom</div>
                        <div class="ribbon ribbon-left-bottom color-random">Left-Bottom</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-left-center color-random">Left-Center</div>
                        <div class="ribbon ribbon-top-center color-random">Top-Center</div>
                        <div class="ribbon ribbon-right-center color-random">Right-Center</div>
                        <div class="ribbon ribbon-bottom-center color-random">Bottom-Center</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-top-left color-random">Top-Left</div>
                        <div class="ribbon ribbon-top-right color-random">Top-Right</div>
                        <div class="ribbon ribbon-bottom-right color-random">Bottom-Right</div>
                        <div class="ribbon ribbon-bottom-left color-random">Bottom-Left</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Round</div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-round ribbon-left-top color-random">Left-Top</div>
                        <div class="ribbon ribbon-round ribbon-right-top color-random">Right-Top</div>
                        <div class="ribbon ribbon-round ribbon-right-bottom color-random">Right-Bottom</div>
                        <div class="ribbon ribbon-round ribbon-left-bottom color-random">Left-Bottom</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-round ribbon-left-center color-random">Left-Center</div>
                        <div class="ribbon ribbon-round ribbon-top-center color-random">Top-Center</div>
                        <div class="ribbon ribbon-round ribbon-right-center color-random">Right-Center</div>
                        <div class="ribbon ribbon-round ribbon-bottom-center color-random">Bottom-Center</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-round ribbon-top-left color-random">Top-Left</div>
                        <div class="ribbon ribbon-round ribbon-top-right color-random">Top-Right</div>
                        <div class="ribbon ribbon-round ribbon-bottom-right color-random">Bottom-Right</div>
                        <div class="ribbon ribbon-round ribbon-bottom-left color-random">Bottom-Left</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Clip</div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-clip ribbon-left-top color-random">Left-Top</div>
                        <div class="ribbon ribbon-clip ribbon-right-top color-random">Right-Top</div>
                        <div class="ribbon ribbon-clip ribbon-right-bottom color-random">Right-Bottom</div>
                        <div class="ribbon ribbon-clip ribbon-left-bottom color-random">Left-Bottom</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-clip ribbon-left-center color-random">Left-Center</div>
                        <div class="ribbon ribbon-clip ribbon-top-center color-random">Top-Center</div>
                        <div class="ribbon ribbon-clip ribbon-right-center color-random">Right-Center</div>
                        <div class="ribbon ribbon-clip ribbon-bottom-center color-random">Bottom-Center</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-clip ribbon-top-left color-random">Top-Left</div>
                        <div class="ribbon ribbon-clip ribbon-top-right color-random">Top-Right</div>
                        <div class="ribbon ribbon-clip ribbon-bottom-right color-random">Bottom-Right</div>
                        <div class="ribbon ribbon-clip ribbon-bottom-left color-random">Bottom-Left</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-clip ribbon-round ribbon-left-top color-random">Left-Top</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-right-top color-random">Right-Top</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-right-bottom color-random">Right-Bottom</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-left-bottom color-random">Left-Bottom</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-clip ribbon-round ribbon-left-center color-random">Left-Center</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-top-center color-random">Top-Center</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-right-center color-random">Right-Center</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-bottom-center color-random">Bottom-Center</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>
                    <div class="block"></div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-clip ribbon-round ribbon-top-left color-random">Top-Left</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-top-right color-random">Top-Right</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-bottom-right color-random">Bottom-Right</div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-bottom-left color-random">Bottom-Left</div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(10)}</p>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Corner</div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-corner">
                            <i class="icon material-icons">lock</i>
                        </div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(5)}</p>
                        </div>
                    </div>
                    <div class="card margin-vertical">
                        <div class="ribbon ribbon-corner ribbon-corner-top-left color-amber">
                            <i class="icon material-icons">star</i>
                        </div>
                        <div class="ribbon ribbon-corner ribbon-corner-top-right color-red">
                            <i class="icon material-icons">bookmark</i>
                        </div>
                        <div class="ribbon ribbon-corner ribbon-corner-bottom-right color-deeppurple">
                            <i class="icon material-icons">bolt</i>
                        </div>
                        <div class="ribbon ribbon-corner ribbon-corner-bottom-left color-pink">
                            <i class="icon material-icons">favorite</i>
                        </div>
                        <div class="card-content card-content-padding">
                            <p>${faker.lorem.paragraph(8)}</p>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Vertical</div>
                    <div class="block block-strong inset margin-vertical">
                        <div class="block-title block-title-medium">Hello World!</div>
                        <p>${faker.lorem.paragraph(5)}</p>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-vertical ${$f7.rtl ? 'ribbon-top-left' : 'ribbon-top-right'} color-pink">
                            <i class="icon material-icons">whatshot</i>
                        </div>
                        <div class="ribbon ribbon-clip ribbon-round ribbon-vertical ${$f7.rtl ? 'ribbon-bottom-right' : 'ribbon-bottom-left'} color-deeppurple">
                            <i class="icon material-icons">bolt</i>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>