<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Toggle</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Toggle is a checkbox that allows the user to switch an option between two states.</p>
                    </div>

                    <div class="block-title margin-vertical">Default</div>
                    <div class="list simple-list inset margin-vertical">
                        <ul>
                            <li>
                                <span>Unchecked</span>
                                <label class="toggle toggle-init">
                                    <input type="checkbox" />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Checked</span>
                                <label class="toggle toggle-init">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Unchecked + Disabled</span>
                                <label class="toggle toggle-init">
                                    <input type="checkbox" disabled />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Checked + Disabled</span>
                                <label class="toggle toggle-init">
                                    <input type="checkbox" checked disabled />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Colored</div>
                    <div class="list simple-list inset margin-vertical">
                        <ul>
                            <li>
                                <span>Red</span>
                                <label class="toggle toggle-init color-red">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Pink</span>
                                <label class="toggle toggle-init color-pink">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Purple</span>
                                <label class="toggle toggle-init color-purple">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Deep Purple</span>
                                <label class="toggle toggle-init color-deeppurple">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Indigo</span>
                                <label class="toggle toggle-init color-indigo">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Blue</span>
                                <label class="toggle toggle-init color-blue">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Light Blue</span>
                                <label class="toggle toggle-init color-lightblue">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Cyan</span>
                                <label class="toggle toggle-init color-cyan">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Teal</span>
                                <label class="toggle toggle-init color-teal">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Green</span>
                                <label class="toggle toggle-init color-green">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Light Green</span>
                                <label class="toggle toggle-init color-lightgreen">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Lime</span>
                                <label class="toggle toggle-init color-lime">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Yellow</span>
                                <label class="toggle toggle-init color-yellow">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Amber</span>
                                <label class="toggle toggle-init color-amber">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Orange</span>
                                <label class="toggle toggle-init color-orange">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Deep Orange</span>
                                <label class="toggle toggle-init color-deeporange">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Brown</span>
                                <label class="toggle toggle-init color-brown">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Gray</span>
                                <label class="toggle toggle-init color-gray">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                            <li>
                                <span>Blue Gray</span>
                                <label class="toggle toggle-init color-bluegray">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Label (Text)</div>
                    <div class="list simple-list inset margin-vertical">
                        <ul>
                            <li>
                                <span>Toggle</span>
                                <label class="toggle toggle-init color-indigo">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                    <span class="toggle-label">
                                        <span class="toggle-label-on">On</span>
                                        <span class="toggle-label-off">Off</span>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <span>Toggle</span>
                                <label class="toggle toggle-init color-green">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                    <span class="toggle-label">
                                        <span class="toggle-label-on">Yes</span>
                                        <span class="toggle-label-off">No</span>
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Label (Icon)</div>
                    <div class="list simple-list inset margin-vertical">
                        <ul>
                            <li>
                                <span>Toggle</span>
                                <label class="toggle toggle-init color-green">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                    <span class="toggle-label">
                                        <span class="toggle-label-on">
                                            <i class="icon material-icons">check</i>
                                        </span>
                                    </span>
                                </label>
                            </li>
                            <li>
                                <span>Toggle</span>
                                <label class="toggle toggle-init color-amber">
                                    <input type="checkbox" checked />
                                    <span class="toggle-icon"></span>
                                    <span class="toggle-label">
                                        <span class="toggle-label-on">
                                            <i class="icon f7-icons">sun_max_fill</i>
                                        </span>
                                        <span class="toggle-label-off">
                                            <i class="icon f7-icons">moon_stars_fill</i>
                                        </span>
                                    </span>
                                </label>
                            </li>
                        </ul>
                    </div>

                    <div class="block-title margin-vertical">Media List</div>
                    <div class="list media-list inset margin-vertical">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="shape-container shape-auto" style="background-color: var(--color-amber-50);">
                                            <i class="icon material-icons text-gradient-amber">notifications</i>
                                        </span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Notifications</div>
                                            <div class="item-after">
                                                <label class="toggle toggle-init color-amber">
                                                    <input type="checkbox" checked />
                                                    <span class="toggle-icon"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="item-text">Get push notifications to find out what's going on when you're not on Nectar. You can turn them off anytime.</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media">
                                        <span class="shape-container shape-auto" style="background-color: var(--color-bluegray-50);">
                                            <i class="icon material-icons text-gradient-bluegray">brightness_medium</i>
                                        </span>
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Dark Mode</div>
                                            <div class="item-after">
                                                <label class="toggle toggle-init color-bluegray">
                                                    <input type="checkbox" checked />
                                                    <span class="toggle-icon"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="item-text">Switch between light and dark mode.</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>