<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Tree View</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>Tree View can be used to represent hierarchical data in a tree structure.</p>
                    </div>

                    <div class="block-title margin-vertical">Default</div>
                    <div class="block block-strong inset margin-vertical no-padding-horizontal">
                        <div class="treeview">
                            <div class="treeview-item">
                                <div class="treeview-item-root">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <div class="treeview-item-label">Item 1</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-toggle"></div>
                                            <div class="treeview-item-content">
                                                <div class="treeview-item-label">Sub Item 1</div>
                                            </div>
                                        </div>
                                        <div class="treeview-item-children">
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-toggle"></div>
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 1</div>
                                                    </div>
                                                </div>
                                                <div class="treeview-item-children">
                                                    <div class="treeview-item">
                                                        <div class="treeview-item-root">
                                                            <div class="treeview-item-content">
                                                                <div class="treeview-item-label">Sub Sub Sub Item 1
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="treeview-item">
                                                        <div class="treeview-item-root">
                                                            <div class="treeview-item-content">
                                                                <div class="treeview-item-label">Sub Sub Sub Item 2
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="treeview-item">
                                                        <div class="treeview-item-root">
                                                            <div class="treeview-item-content">
                                                                <div class="treeview-item-label">Sub Sub Sub Item 3
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-toggle"></div>
                                            <div class="treeview-item-content">
                                                <div class="treeview-item-label">Sub Item 2</div>
                                            </div>
                                        </div>
                                        <div class="treeview-item-children">
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="treeview-item treeview-item-opened">
                                <div class="treeview-item-root">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <div class="treeview-item-label">Item 2</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-toggle"></div>
                                            <div class="treeview-item-content">
                                                <div class="treeview-item-label">Sub Item 1</div>
                                            </div>
                                        </div>
                                        <div class="treeview-item-children">
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-toggle"></div>
                                            <div class="treeview-item-content">
                                                <div class="treeview-item-label">Sub Item 2</div>
                                            </div>
                                        </div>
                                        <div class="treeview-item-children">
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 1</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="treeview-item">
                                                <div class="treeview-item-root">
                                                    <div class="treeview-item-content">
                                                        <div class="treeview-item-label">Sub Sub Item 2</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="treeview-item">
                                <div class="treeview-item-root">
                                    <div class="treeview-item-content">
                                        <div class="treeview-item-label">Item 3</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Icon</div>
                    <div class="block block-strong inset margin-vertical no-padding-horizontal">
                        <div class="treeview">
                            <div class="treeview-item">
                                <div class="treeview-item-root treeview-item-toggle">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <i class="icon material-icons color-amber">folder</i>
                                        <div class="treeview-item-label">images</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon material-icons color-lightgreen">image</i>
                                                <div class="treeview-item-label">avatar.png</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon material-icons color-lightgreen">image</i>
                                                <div class="treeview-item-label">background.jpg</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="treeview-item">
                                <div class="treeview-item-root treeview-item-toggle">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <i class="icon material-icons color-amber">folder</i>
                                        <div class="treeview-item-label">documents</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon material-icons color-blue">description</i>
                                                <div class="treeview-item-label">about.docx</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon material-icons color-blue">description</i>
                                                <div class="treeview-item-label">resume.docx</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="treeview-item">
                                <div class="treeview-item-root">
                                    <div class="treeview-item-content">
                                        <i class="icon material-icons color-red">description</i>
                                        <div class="treeview-item-label">index.html</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Links</div>
                    <div class="block block-strong inset margin-vertical no-padding-horizontal">
                        <div class="treeview">
                            <div class="treeview-item">
                                <div class="treeview-item-root treeview-item-toggle">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <span>${$f7.renderUnicode('1F308')}</span>
                                        <div class="treeview-item-label">Elements</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    <div class="treeview-item">
                                        <a href="/components/" class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon f7-icons font-size-20 color-green">square_grid_2x2_fill</i>
                                                <div class="treeview-item-label">Components</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="treeview-item">
                                        <a href="/screens/" class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon f7-icons font-size-20 color-blue">layers_alt_fill</i>
                                                <div class="treeview-item-label">Screens</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="treeview-item">
                                        <a href="/web-apis/" class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon f7-icons font-size-20 color-orange">chevron_left_slash_chevron_right</i>
                                                <div class="treeview-item-label">Web APIs</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="treeview-item">
                                        <a href="/cordova-plugins/" class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon f7-icons font-size-20 color-deeppurple">device_phone_portrait</i>
                                                <div class="treeview-item-label">Cordova Plugins</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="treeview-item">
                                        <a href="/integrations/" class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon f7-icons font-size-20 color-pink">flame_fill</i>
                                                <div class="treeview-item-label">Integrations</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="treeview-item">
                                <div class="treeview-item-root treeview-item-toggle">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <i class="icon material-icons text-gradient-amber">hive</i>
                                        <div class="treeview-item-label">Social</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    <div class="treeview-item">
                                        <a href="https://instagram.com" target="${$f7.getExternalUrlTarget()}" class="treeview-item-root external">
                                            <div class="treeview-item-content">
                                                <img src="https://cdn.svgporn.com/logos/instagram-icon.svg" loading="lazy" height="20" width="20" alt="" />
                                                <div class="treeview-item-label">Instagram</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="treeview-item">
                                        <a href="https://twitter.com" target="${$f7.getExternalUrlTarget()}" class="treeview-item-root external">
                                            <div class="treeview-item-content">
                                                <img src="https://cdn.svgporn.com/logos/twitter.svg" loading="lazy" height="20" width="20" alt="" />
                                                <div class="treeview-item-label">Twitter</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="treeview-item">
                                        <a href="https://whatsapp.com" target="${$f7.getExternalUrlTarget()}" class="treeview-item-root external">
                                            <div class="treeview-item-content">
                                                <img src="https://cdn.svgporn.com/logos/whatsapp-icon.svg" loading="lazy" height="20" width="20" alt="" />
                                                <div class="treeview-item-label">WhatsApp</div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="block-title margin-vertical">Load Children</div>
                    <div class="block block-strong inset margin-vertical no-padding-horizontal">
                        <div class="treeview">
                            <div class="treeview-item treeview-load-children" @treeview:loadchildren="${loadUsers}">
                                <div class="treeview-item-root treeview-item-toggle">
                                    <div class="treeview-toggle"></div>
                                    <div class="treeview-item-content">
                                        <i class="icon material-icons">people</i>
                                        <div class="treeview-item-label">Users</div>
                                    </div>
                                </div>
                                <div class="treeview-item-children">
                                    ${users && users.length && users.map((item, index) => $h`
                                    <div class="treeview-item">
                                        <div class="treeview-item-root">
                                            <div class="treeview-item-content">
                                                <i class="icon material-icons">person</i>
                                                <div class="treeview-item-label">${item.name}</div>
                                            </div>
                                        </div>
                                    </div>
                                    `)}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let users = null;

        let loadUsers = function(event) {
            let done = event.detail;
            setTimeout(function() {
                let data = [];
                for (i=0; i<5; i++) {
                    data.push({
                        id: i+1,
                        name: faker.name.firstName() + ' ' + faker.name.lastName()
                    });
                }
                users = data;
                $update(function() {
                    done();
                });
            }, 2500);
        }

        return $render;
    }
</script>