<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Embedly</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical text-align-center">
                        <span class="shape-container shape-auto size-80" style="background-color: var(--color-cyan-50);">
                            <img src="https://cdn.svgporn.com/logos/embedly.svg" height="48" alt="" />
                        </span>
                        <p>Embed articles, images, videos, and rich media content from third-party websites.</p>
                    </div>

                    <div class="block-title margin-vertical">ThemeForest</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://themeforest.net/item/nectar-mobile-web-app-kit/20466093" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Flickr</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://www.flickr.com/photos/94444743@N04/9519038413/in/gallery-flickr-72157693718156901" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Futurism</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://futurism.com/maching-learning-california-fight-wildfires" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Giphy</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://gph.is/1c23xHx" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Google Map</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://www.google.com/maps/@24.1874916,75.6382656,15z" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Imgur</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://imgur.com/a/DISRYSD" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">SoundCloud</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://soundcloud.com/davidguetta/david-guetta-martin-garrix-brooks-like-i-do" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Twitter</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://twitter.com/UNESCO/status/1062692877371916288" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">Wikipedia</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://en.wikipedia.org/wiki/India" data-card-controls="0"></a>
                    </div>

                    <div class="block-title margin-vertical">YouTube</div>
                    <div class="block margin-vertical">
                        <a class="embedly-card" target="${$f7.getExternalUrlTarget()}" href="https://www.youtube.com/watch?v=O-RgquKVTPE" data-card-controls="0"></a>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>