<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Telegram Comments</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical text-align-center">
                        <span class="shape-container shape-auto size-80" style="background-color: var(--color-blue-50);">
                            <img src="https://cdn.svgporn.com/logos/telegram.svg" height="48" alt="" />
                        </span>
                        <p>Let visitors comment on the content on your site using their Telegram account.</p>
                    </div>

                    <div class="block margin-vertical">
                        <script async src="https://comments.app/js/widget.js?3" data-comments-app-website="${$f7.config.telegram.siteId}" data-page-id="test-comments" data-limit="10" data-color="${$f7.theming.currentColor()}" data-dark="${$f7.theming.currentMode() == 'dark' ? '1' : '0'}" data-colorful="1" data-dislikes="1"></script>
                    </div>

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {
        return $render;
    }
</script>