<template>
    <div class="page">

        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner">
                <div class="left">
                    <a href="#" class="link back">
                        <i class="icon icon-back"></i>
                        <span class="if-not-md">Back</span>
                    </a>
                </div>
                <div class="title">Camera</div>
            </div>
        </div>

        <div class="page-content">

            <div class="row justify-content-center">
                <div class="col-100 medium-75 large-60 xlarge-50">

                    <div class="block block-strong inset margin-vertical">
                        <p>This plugin can be used to take photos using the device camera.</p>
                    </div>

                    ${$f7.device.cordova ? $h`
                    <div class="block block-strong inset margin-vertical">
                        ${photo ? $h`
                        <img class="margin-bottom shape-rounded-square" src="${photo}" alt="" />
                        ` : $h` `}
                        <button type="button" class="button button-fill" @click="${takePhoto}">Take Photo</button>
                    </div>
                    ` : $h`
                    <div class="empty-state empty-state-strong inset margin-vertical">
                        <div class="empty-state-media">
                            <i class="icon fa-solid fa-face-frown font-size-64 color-red"></i>
                        </div>
                        <div class="empty-state-title">Oops!</div>
                        <div class="empty-state-text">This plugin works inside Cordova only.</div>
                    </div>
                    `}

                </div>
            </div>

        </div>

    </div>
</template>

<script>
    export default function(props, {$, $el, $f7, $f7route, $f7router, $h, $on, $store, $theme, $update}) {

        let photo = null;

        let takePhoto = function() {
            navigator.camera.getPicture(
                function(photoUri) {
                    window.resolveLocalFileSystemURL(
                        photoUri,
                        function(fileEntry) {
                            photo = fileEntry.toInternalURL();
                            $update();
                        },
                        function(error) {
                            $f7.toast.show({
                                text: 'Error Code: ' + error.code,
                                cssClass: 'color-red'
                            });
                        }
                    );
                },
                function(error) {
                    $f7.toast.show({
                        text: error,
                        cssClass: 'color-red'
                    });
                },
                {
                    sourceType: Camera.PictureSourceType.CAMERA,
                    destinationType: Camera.DestinationType.FILE_URI,
                    encodingType: Camera.EncodingType.JPEG,
                    quality: 100,
                    saveToPhotoAlbum: true
                }
            );
        }

        return $render;
    }
</script>